openapi: 3.1.2
info:
  title: SDKWork Webserver Internal API
  description: Authenticated website runtime-set distribution and node observation API.
  version: 1.0.0
servers:
  - url: https://web.internal.sdkwork.com
    description: Production application ingress
  - url: http://localhost:3800
    description: Local development application ingress
security:
  - ApiKey: []
paths:
  /internal/v3/api/web/runtime_assignments/{nodeUuid}/{environment}:
    parameters:
      - $ref: '#/components/parameters/NodeUuid'
      - $ref: '#/components/parameters/Environment'
    put:
      operationId: runtimeAssignments.update
      summary: Publish the desired runtime-set for a Web Node
      tags: [runtime]
      security:
        - ApiKey: []
      x-sdkwork-api-surface: internal-api
      x-sdkwork-api-authority: sdkwork-webserver-internal-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: ingress-token
      x-sdkwork-route-auth: ingress-token
      x-sdkwork-permission: web.runtimeAssignments.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishRuntimeAssignmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/RuntimeAssignmentResponse'
        '400':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '409':
          $ref: '#/components/responses/Problem'
        '413':
          $ref: '#/components/responses/Problem'
  /internal/v3/api/web/runtime_assignments/current:
    get:
      operationId: runtimeAssignments.current.retrieve
      summary: Retrieve the authenticated Web Node's current desired runtime-set
      tags: [runtime]
      security:
        - ApiKey: []
      x-sdkwork-api-surface: internal-api
      x-sdkwork-api-authority: sdkwork-webserver-internal-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: ingress-token
      x-sdkwork-route-auth: ingress-token
      x-sdkwork-permission: web.agent.read
      x-sdkwork-owner: sdkwork-webserver
      parameters:
        - $ref: '#/components/parameters/EnvironmentQuery'
        - name: ifGeneration
          in: query
          required: false
          description: Last generation durably observed by this node.
          schema:
            $ref: '#/components/schemas/GenerationString'
        - name: ifSnapshotSha256
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Sha256'
      responses:
        '200':
          $ref: '#/components/responses/RuntimeAssignmentDeliveryResponse'
        '400':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
  /internal/v3/api/web/runtime_assignments/{snapshotUuid}/observations:
    parameters:
      - name: snapshotUuid
        in: path
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 128
          pattern: '^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$'
    post:
      operationId: runtimeAssignments.observations.create
      summary: Record a Web Node runtime-set observation
      tags: [runtime]
      security:
        - ApiKey: []
      x-sdkwork-api-surface: internal-api
      x-sdkwork-api-authority: sdkwork-webserver-internal-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: ingress-token
      x-sdkwork-route-auth: ingress-token
      x-sdkwork-permission: web.agent.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRuntimeObservationRequest'
      responses:
        '201':
          $ref: '#/components/responses/RuntimeObservationResponse'
        '400':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '409':
          $ref: '#/components/responses/Problem'
  /internal/v3/api/web/runtime_assignments/{snapshotUuid}/observations/latest:
    parameters:
      - name: snapshotUuid
        in: path
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 128
          pattern: '^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$'
    get:
      operationId: runtimeAssignments.observations.latest.retrieve
      summary: Retrieve the latest authenticated Web Node runtime-set observation
      tags: [runtime]
      security:
        - ApiKey: []
      x-sdkwork-api-surface: internal-api
      x-sdkwork-api-authority: sdkwork-webserver-internal-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: ingress-token
      x-sdkwork-route-auth: ingress-token
      x-sdkwork-permission: web.runtimeAssignments.write
      x-sdkwork-owner: sdkwork-webserver
      responses:
        '200':
          $ref: '#/components/responses/RuntimeObservationResponse'
        '400':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: Rotatable application-ingress service or Web Node credential.
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 128
    NodeUuid:
      name: nodeUuid
      in: path
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 64
        pattern: '^[A-Za-z0-9][A-Za-z0-9._:-]{0,63}$'
    Environment:
      name: environment
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/RuntimeEnvironment'
    EnvironmentQuery:
      name: environment
      in: query
      required: true
      schema:
        $ref: '#/components/schemas/RuntimeEnvironment'
  responses:
    RuntimeAssignmentResponse:
      description: Desired runtime assignment accepted idempotently.
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/SdkWorkApiResponse'
              - type: object
                required: [data]
                properties:
                  data:
                    type: object
                    additionalProperties: false
                    required: [item]
                    properties:
                      item:
                        $ref: '#/components/schemas/RuntimeAssignment'
    RuntimeAssignmentDeliveryResponse:
      description: Current desired runtime assignment returned.
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/SdkWorkApiResponse'
              - type: object
                required: [data]
                properties:
                  data:
                    type: object
                    additionalProperties: false
                    required: [item]
                    properties:
                      item:
                        $ref: '#/components/schemas/RuntimeAssignmentDelivery'
    RuntimeObservationResponse:
      description: Authenticated Web Node runtime observation resource.
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/SdkWorkApiResponse'
              - type: object
                required: [data]
                properties:
                  data:
                    type: object
                    additionalProperties: false
                    required: [item]
                    properties:
                      item:
                        $ref: '#/components/schemas/RuntimeObservation'
    Problem:
      description: SDKWork problem detail.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
  schemas:
    PublishRuntimeAssignmentRequest:
      type: object
      additionalProperties: false
      required: [runtimeSet]
      properties:
        runtimeSet:
          $ref: '#/components/schemas/WebsiteRuntimeSetSnapshot'
    CreateRuntimeObservationRequest:
      type: object
      additionalProperties: false
      required: [generation, snapshotSha256, state]
      properties:
        generation:
          $ref: '#/components/schemas/GenerationString'
        snapshotSha256:
          $ref: '#/components/schemas/Sha256'
        state:
          $ref: '#/components/schemas/RuntimeObservationState'
        nodeVersion:
          type: [string, 'null']
          minLength: 1
          maxLength: 64
        reasonCode:
          type: [string, 'null']
          minLength: 1
          maxLength: 64
          pattern: '^[A-Z][A-Z0-9_]{0,63}$'
        detail:
          type: [string, 'null']
          minLength: 1
          maxLength: 512
    RuntimeAssignment:
      type: object
      additionalProperties: false
      required:
        - assignmentUuid
        - nodeUuid
        - environment
        - generation
        - snapshotUuid
        - snapshotSha256
        - assignedAt
      properties:
        assignmentUuid:
          type: string
          format: uuid
        nodeUuid:
          type: string
        environment:
          $ref: '#/components/schemas/RuntimeEnvironment'
        generation:
          $ref: '#/components/schemas/GenerationString'
        snapshotUuid:
          type: string
        snapshotSha256:
          $ref: '#/components/schemas/Sha256'
        assignedAt:
          type: string
          format: date-time
    RuntimeAssignmentDelivery:
      type: object
      additionalProperties: false
      required: [unchanged, assignment]
      properties:
        unchanged:
          type: boolean
        assignment:
          $ref: '#/components/schemas/RuntimeAssignment'
        latestObservationState:
          anyOf:
            - $ref: '#/components/schemas/RuntimeObservationState'
            - type: 'null'
        runtimeSet:
          anyOf:
            - $ref: '#/components/schemas/WebsiteRuntimeSetSnapshot'
            - type: 'null'
    RuntimeObservation:
      type: object
      additionalProperties: false
      required:
        - observationUuid
        - assignmentUuid
        - tenantId
        - nodeUuid
        - environment
        - generation
        - snapshotUuid
        - snapshotSha256
        - state
        - observedAt
      properties:
        observationUuid:
          type: string
          format: uuid
        assignmentUuid:
          type: string
          format: uuid
        tenantId:
          type: string
          minLength: 1
          maxLength: 19
          pattern: '^[1-9][0-9]{0,18}$'
        nodeUuid:
          type: string
        environment:
          $ref: '#/components/schemas/RuntimeEnvironment'
        generation:
          $ref: '#/components/schemas/GenerationString'
        snapshotUuid:
          type: string
        snapshotSha256:
          $ref: '#/components/schemas/Sha256'
        state:
          $ref: '#/components/schemas/RuntimeObservationState'
        nodeVersion:
          type: [string, 'null']
        reasonCode:
          type: [string, 'null']
        detail:
          type: [string, 'null']
        observedAt:
          type: string
          format: date-time
    RuntimeEnvironment:
      type: string
      enum: [development, test, staging, production]
    RuntimeObservationState:
      type: string
      enum: [RECEIVED, VALIDATED, STAGED, ACTIVE, REJECTED]
    GenerationString:
      type: string
      pattern: '^[1-9][0-9]{0,15}$'
      maxLength: 16
    Sha256:
      type: string
      pattern: '^[a-f0-9]{64}$'
      minLength: 64
      maxLength: 64
    WebsiteRuntimeSetSnapshot:
      type: object
      description: Materialized from specs/sdkwork.website-runtime-set.snapshot.schema.json.
    SdkWorkApiResponse:
      type: object
      additionalProperties: false
      required: [code, data, traceId]
      properties:
        code:
          type: integer
          const: 0
        data: {}
        traceId:
          type: string
          format: uuid
          description: Server-owned request correlation id.
    ProblemDetail:
      type: object
      additionalProperties: true
      required: [type, title, status, code, traceId]
      properties:
        type:
          type: string
          format: uri-reference
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        code:
          type: integer
          minimum: 1
        traceId:
          type: string
