openapi: 3.1.2
info:
  title: SDKWork Web App API
  description: SDKWork Web Server 应用端 API，供前端应用客户端调用
  version: 1.0.0
  contact:
    name: SDKWork Team
servers:
  - url: https://api.server.sdkwork.com
    description: Production
  - url: http://localhost:3800
    description: Local Development
security:
  - AuthToken: []
    AccessToken: []
paths:
  /app/v3/api/applications:
    get:
      operationId: applications.list
      summary: 获取应用列表
      tags:
        - application
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.read
      x-sdkwork-owner: sdkwork-web
      x-sdkwork-pagination-mode: offset
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
        - name: status
          in: query
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
              - 3
        - name: application_type
          in: query
          schema:
            type: string
            enum:
              - WEB
              - API
        - name: site_type
          in: query
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
        - name: keyword
          in: query
          schema:
            type: string
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        additionalProperties: false
                        required:
                          - items
                          - pageInfo
                        properties:
                          items: &a1
                            type: array
                            items:
                              $ref: "#/components/schemas/ApplicationResponse"
                          pageInfo:
                            $ref: "#/components/schemas/PageInfo"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
    post:
      operationId: applications.create
      summary: 创建应用
      tags:
        - application
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      x-sdkwork-owner: sdkwork-web
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApplicationRequest"
      responses:
        "201":
          description: 创建成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        required:
                          - item
                        properties:
                          item:
                            $ref: "#/components/schemas/ApplicationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
  /app/v3/api/applications/{applicationId}:
    parameters:
      - $ref: "#/components/parameters/ApplicationIdParam"
    get:
      operationId: applications.retrieve
      summary: 获取应用详情
      tags:
        - application
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.read
      x-sdkwork-owner: sdkwork-web
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        required:
                          - item
                        properties:
                          item:
                            $ref: "#/components/schemas/ApplicationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: applications.update
      summary: 更新应用
      tags:
        - application
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-owner: sdkwork-web
      x-sdkwork-idempotent: true
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateApplicationRequest"
      responses:
        "200":
          description: 更新成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        required:
                          - item
                        properties:
                          item:
                            $ref: "#/components/schemas/ApplicationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
    delete:
      operationId: applications.delete
      summary: 删除应用
      tags:
        - application
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-owner: sdkwork-web
      responses:
        "204":
          description: 删除成功
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /app/v3/api/applications/{applicationId}/activate:
    parameters:
      - $ref: "#/components/parameters/ApplicationIdParam"
    post:
      operationId: applications.activate
      summary: 激活应用
      tags:
        - application
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-owner: sdkwork-web
      responses:
        "200":
          description: 激活成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        required:
                          - item
                        properties:
                          item:
                            $ref: "#/components/schemas/ApplicationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /app/v3/api/applications/{applicationId}/pause:
    parameters:
      - $ref: "#/components/parameters/ApplicationIdParam"
    post:
      operationId: applications.pause
      summary: 暂停应用
      tags:
        - application
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-owner: sdkwork-web
      responses:
        "200":
          description: 暂停成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        required:
                          - item
                        properties:
                          item:
                            $ref: "#/components/schemas/ApplicationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /app/v3/api/applications/{applicationId}/domains:
    parameters:
      - $ref: "#/components/parameters/ApplicationIdParam"
    get:
      operationId: applications.domains.list
      summary: 获取站点域名列表
      tags:
        - domain
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-owner: sdkwork-web
      x-sdkwork-pagination-mode: offset
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        additionalProperties: false
                        required:
                          - items
                          - pageInfo
                        properties:
                          items: &a2
                            type: array
                            items:
                              $ref: "#/components/schemas/DomainResponse"
                          pageInfo:
                            $ref: "#/components/schemas/PageInfo"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: applications.domains.create
      summary: 绑定域名
      tags:
        - domain
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      x-sdkwork-owner: sdkwork-web
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDomainRequest"
      responses:
        "201":
          description: 创建成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        required:
                          - item
                        properties:
                          item:
                            $ref: "#/components/schemas/DomainResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
  /app/v3/api/applications/{applicationId}/domains/{domainId}:
    parameters:
      - $ref: "#/components/parameters/ApplicationIdParam"
      - $ref: "#/components/parameters/DomainIdParam"
    get:
      operationId: applications.domains.retrieve
      summary: 获取域名详情
      tags:
        - domain
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-owner: sdkwork-web
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        required:
                          - item
                        properties:
                          item:
                            $ref: "#/components/schemas/DomainResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: applications.domains.delete
      summary: 解绑域名
      tags:
        - domain
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-owner: sdkwork-web
      responses:
        "204":
          description: 删除成功
        "404":
          $ref: "#/components/responses/NotFound"
  /app/v3/api/applications/{applicationId}/domains/{domainId}/verify:
    parameters:
      - $ref: "#/components/parameters/ApplicationIdParam"
      - $ref: "#/components/parameters/DomainIdParam"
    post:
      operationId: applications.domains.verify
      summary: 创建或检查域名所有权验证挑战
      tags:
        - domain
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      x-sdkwork-owner: sdkwork-web
      x-sdkwork-rate-limit-tier: auth-critical
      responses:
        "200":
          description: 返回域名所有权验证挑战及最新外部观测状态
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        required:
                          - item
                        properties:
                          item:
                            $ref: "#/components/schemas/DomainVerifyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
  /app/v3/api/applications/{applicationId}/domains/{domainId}/listener_certificate_bindings:
    parameters:
      - $ref: "#/components/parameters/ApplicationIdParam"
      - $ref: "#/components/parameters/DomainIdParam"
    get:
      operationId: applications.domains.listenerCertificateBindings.list
      summary: List certificates active on the domain listener
      description: Returns an offset-paginated P1 list ordered by default status,
        priority, and stable binding id.
      tags:
        - certificate
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.certificates.read
      x-sdkwork-owner: sdkwork-web
      x-sdkwork-pagination-mode: offset
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
      responses:
        "200":
          description: Listener certificate bindings returned successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required: [ data ]
                    properties:
                      data:
                        type: object
                        additionalProperties: false
                        required: [ items, pageInfo ]
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/components/schemas/ListenerCertificateBindingResponse"
                          pageInfo:
                            $ref: "#/components/schemas/PageInfo"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: applications.domains.listenerCertificateBindings.create
      summary: Bind a certificate version to the domain listener
      tags:
        - certificate
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.certificates.write
      x-sdkwork-idempotent: true
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-web
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateListenerCertificateBindingRequest"
      responses:
        "201":
          description: Certificate version bound to the listener successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required: [ data ]
                    properties:
                      data:
                        type: object
                        additionalProperties: false
                        required: [ item ]
                        properties:
                          item:
                            $ref: "#/components/schemas/ListenerCertificateBindingResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /app/v3/api/applications/{applicationId}/domains/{domainId}/listener_certificate_bindings/{bindingId}:
    parameters:
      - $ref: "#/components/parameters/ApplicationIdParam"
      - $ref: "#/components/parameters/DomainIdParam"
      - $ref: "#/components/parameters/ListenerCertificateBindingIdParam"
    delete:
      operationId: applications.domains.listenerCertificateBindings.delete
      summary: Remove a certificate from the domain listener
      tags:
        - certificate
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.certificates.write
      x-sdkwork-idempotent: true
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-web
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "204":
          description: Listener certificate binding removed successfully.
        "404":
          $ref: "#/components/responses/NotFound"
  /app/v3/api/applications/{applicationId}/source_versions:
    parameters:
      - $ref: "#/components/parameters/ApplicationIdParam"
    get:
      operationId: applications.sourceVersions.list
      summary: 获取应用源码版本
      x-sdkwork-pagination-mode: cursor
      tags:
        - sourceVersion
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-owner: sdkwork-web
      parameters:
        - $ref: "#/components/parameters/PageSizeParam"
        - $ref: "#/components/parameters/CursorParam"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required: [ data ]
                    properties:
                      data:
                        type: object
                        additionalProperties: false
                        required: [ items, pageInfo ]
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/components/schemas/SourceVersionResponse"
                          pageInfo:
                            $ref: "#/components/schemas/PageInfo"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: applications.sourceVersions.create
      summary: 登记 Drive 中的应用源码版本
      tags:
        - sourceVersion
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-owner: sdkwork-web
      x-sdkwork-idempotent: true
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSourceVersionRequest"
      responses:
        "201":
          description: 源码版本已登记
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required: [ data ]
                    properties:
                      data:
                        type: object
                        required: [ item ]
                        properties:
                          item:
                            $ref: "#/components/schemas/SourceVersionResponse"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
  /app/v3/api/applications/{applicationId}/source_versions/git_import:
    parameters:
      - $ref: "#/components/parameters/ApplicationIdParam"
    post:
      operationId: applications.sourceVersions.gitImport.create
      summary: 从公共 Git 仓库导入应用源码版本
      tags:
        - sourceVersion
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-owner: sdkwork-web
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-idempotent: true
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImportGitSourceVersionRequest"
      responses:
        "201":
          description: Git 源码版本已保存到 Drive
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required: [ data ]
                    properties:
                      data:
                        type: object
                        required: [ item ]
                        properties:
                          item:
                            $ref: "#/components/schemas/SourceVersionResponse"
        "422":
          $ref: "#/components/responses/ValidationError"
  /app/v3/api/applications/{applicationId}/source_versions/{sourceVersionId}:
    parameters:
      - $ref: "#/components/parameters/ApplicationIdParam"
      - $ref: "#/components/parameters/SourceVersionIdParam"
    get:
      operationId: applications.sourceVersions.retrieve
      summary: 获取应用源码版本详情
      tags:
        - sourceVersion
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-owner: sdkwork-web
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required: [ data ]
                    properties:
                      data:
                        type: object
                        required: [ item ]
                        properties:
                          item:
                            $ref: "#/components/schemas/SourceVersionResponse"
        "404":
          $ref: "#/components/responses/NotFound"
  /app/v3/api/applications/{applicationId}/deployments:
    parameters:
      - $ref: "#/components/parameters/ApplicationIdParam"
    get:
      operationId: applications.deployments.list
      summary: 获取部署历史
      tags:
        - deployment
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-owner: sdkwork-web
      x-sdkwork-pagination-mode: cursor
      parameters:
        - $ref: "#/components/parameters/PageSizeParam"
        - $ref: "#/components/parameters/CursorParam"
        - name: status
          in: query
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
              - 5
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        additionalProperties: false
                        required:
                          - items
                          - pageInfo
                        properties:
                          items: &a3
                            type: array
                            items:
                              $ref: "#/components/schemas/DeploymentResponse"
                          pageInfo:
                            $ref: "#/components/schemas/PageInfo"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: applications.deployments.create
      summary: 发起部署
      tags:
        - deployment
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      x-sdkwork-owner: sdkwork-web
      x-sdkwork-rate-limit-tier: auth-critical
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDeploymentRequest"
      responses:
        "201":
          description: 部署已触发
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        required:
                          - item
                        properties:
                          item:
                            $ref: "#/components/schemas/DeploymentResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
  /app/v3/api/applications/{applicationId}/deployments/{deploymentId}:
    parameters:
      - $ref: "#/components/parameters/ApplicationIdParam"
      - $ref: "#/components/parameters/DeploymentIdParam"
    get:
      operationId: applications.deployments.retrieve
      summary: 获取部署详情
      tags:
        - deployment
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-owner: sdkwork-web
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        required:
                          - item
                        properties:
                          item:
                            $ref: "#/components/schemas/DeploymentResponse"
        "404":
          $ref: "#/components/responses/NotFound"
  /app/v3/api/applications/{applicationId}/deployments/{deploymentId}/rollback:
    parameters:
      - $ref: "#/components/parameters/ApplicationIdParam"
      - $ref: "#/components/parameters/DeploymentIdParam"
    post:
      operationId: applications.deployments.rollback
      summary: 基于历史成功版本创建快速还原命令
      tags:
        - deployment
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      x-sdkwork-owner: sdkwork-web
      x-sdkwork-rate-limit-tier: auth-critical
      responses:
        "200":
          description: 快速还原命令已创建，部署状态仍需异步推进。
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        required:
                          - item
                        properties:
                          item:
                            $ref: "#/components/schemas/DeploymentResponse"
        "404":
          $ref: "#/components/responses/NotFound"
  /app/v3/api/applications/{applicationId}/env_variables:
    parameters:
      - $ref: "#/components/parameters/ApplicationIdParam"
    get:
      operationId: applications.envVariables.list
      summary: 获取环境变量列表
      description: Returns the complete active environment-variable collection for one
        authorized application. The collection is transactionally capped at 100
        items per application.
      tags:
        - envVariable
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-owner: sdkwork-web
      x-sdkwork-pagination-mode: offset
      parameters:
        - name: environment
          in: query
          schema:
            type: string
            default: production
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        additionalProperties: false
                        required:
                          - items
                          - pageInfo
                        properties:
                          items: &a4
                            type: array
                            items:
                              $ref: "#/components/schemas/EnvVariableResponse"
                          pageInfo:
                            $ref: "#/components/schemas/PageInfo"
    post:
      operationId: applications.envVariables.create
      summary: 创建环境变量
      tags:
        - envVariable
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      x-sdkwork-owner: sdkwork-web
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnvVariableRequest"
      responses:
        "201":
          description: 创建成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        required:
                          - item
                        properties:
                          item:
                            $ref: "#/components/schemas/EnvVariableResponse"
  /app/v3/api/applications/{applicationId}/env_variables/{variableId}:
    parameters:
      - $ref: "#/components/parameters/ApplicationIdParam"
      - name: variableId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    patch:
      operationId: applications.envVariables.update
      summary: 轮换环境变量值
      description: Rotates the stored value of an active environment variable in
        place; the key and environment cannot change.
      tags:
        - envVariable
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      x-sdkwork-owner: sdkwork-web
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEnvVariableRequest"
      responses:
        "200":
          description: 更新成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        required:
                          - item
                        properties:
                          item:
                            $ref: "#/components/schemas/EnvVariableResponse"
    delete:
      operationId: applications.envVariables.delete
      summary: 删除环境变量
      description: Soft-deletes an active environment variable and releases its key
        for re-creation.
      tags:
        - envVariable
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      x-sdkwork-owner: sdkwork-web
      responses:
        "204":
          description: 删除成功
  /app/v3/api/domains:
    get:
      operationId: domains.list
      summary: 获取证书可签发域名列表
      description: |
        返回当前账号名下可用于申请证书的域名资产(租户级、按资产所有者过滤)。
        证书签发不依赖应用路由,因此该列表包含未绑定应用的已验证域名。
      tags:
        - domain
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: false
      x-sdkwork-owner: sdkwork-web
      x-sdkwork-pagination-mode: offset
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        additionalProperties: false
                        required:
                          - items
                          - pageInfo
                        properties:
                          items: &a8
                            type: array
                            items:
                              $ref: "#/components/schemas/DomainResponse"
                          pageInfo:
                            $ref: "#/components/schemas/PageInfo"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /app/v3/api/applications/{applicationId}/platform_targets:
    get:
      operationId: applications.platformTargets.list
      summary: 获取应用平台目标列表
      tags:
        - application
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.read
      x-sdkwork-owner: sdkwork-web
      x-sdkwork-pagination-mode: offset
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        additionalProperties: false
                        required:
                          - items
                          - pageInfo
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/components/schemas/PlatformTargetResponse"
                          pageInfo:
                            $ref: "#/components/schemas/PageInfo"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
    post:
      operationId: applications.platformTargets.create
      summary: 创建应用平台目标
      tags:
        - application
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-idempotent: true
      x-sdkwork-owner: sdkwork-web
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePlatformTargetRequest"
      responses:
        "201":
          description: 创建成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        additionalProperties: false
                        required:
                          - item
                        properties:
                          item:
                            $ref: "#/components/schemas/PlatformTargetResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /app/v3/api/applications/{applicationId}/platform_targets/{platformTargetId}:
    get:
      operationId: applications.platformTargets.retrieve
      summary: 获取应用平台目标详情
      tags:
        - application
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.read
      x-sdkwork-owner: sdkwork-web
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        additionalProperties: false
                        required:
                          - item
                        properties:
                          item:
                            $ref: "#/components/schemas/PlatformTargetResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /app/v3/api/applications/{applicationId}/health_checks:
    parameters:
      - $ref: "#/components/parameters/ApplicationIdParam"
    get:
      operationId: applications.healthChecks.list
      summary: 获取健康检查配置
      description: Returns the complete health-check configuration collection for one
        authorized application. The collection is transactionally capped at 100
        items per application.
      tags:
        - monitor
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-owner: sdkwork-web
      x-sdkwork-pagination-mode: offset
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        additionalProperties: false
                        required:
                          - items
                          - pageInfo
                        properties:
                          items: &a6
                            type: array
                            items:
                              $ref: "#/components/schemas/HealthCheckResponse"
                          pageInfo:
                            $ref: "#/components/schemas/PageInfo"
    post:
      operationId: applications.healthChecks.create
      summary: 创建健康检查
      tags:
        - monitor
      security:
        - AuthToken: []
          AccessToken: []
      x-sdkwork-api-surface: app-api
      x-sdkwork-api-authority: sdkwork-web.app
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.applications.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      x-sdkwork-owner: sdkwork-web
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateHealthCheckRequest"
      responses:
        "201":
          description: 创建成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SdkWorkApiResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: object
                        required:
                          - item
                        properties:
                          item:
                            $ref: "#/components/schemas/HealthCheckResponse"
components:
  securitySchemes:
    AuthToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
    AccessToken:
      type: apiKey
      in: header
      name: Access-Token
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 128
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSizeParam:
      name: page_size
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 20
    CursorParam:
      name: cursor
      in: query
      description: Opaque keyset continuation token for cursor-paginated operations;
        must not be combined with page.
      schema:
        type: string
        minLength: 1
        maxLength: 512
    ApplicationIdParam:
      name: application_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    DomainIdParam:
      name: domain_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    CertificateOperationIdParam:
      name: operationId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    ListenerCertificateBindingIdParam:
      name: bindingId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    DeploymentIdParam:
      name: deploymentId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    SourceVersionIdParam:
      name: sourceVersionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    ProblemDetail:
      type: object
      additionalProperties: true
      required:
        - type
        - title
        - status
        - code
        - traceId
      properties:
        type:
          type: string
          format: uri-reference
        title:
          type: string
        status:
          type: integer
          minimum: 100
          maximum: 599
        detail:
          type: string
        instance:
          type: string
        code:
          $ref: "#/components/schemas/SdkWorkPlatformErrorCode"
        traceId:
          type: string
          format: uuid
          description: Server-owned request correlation id.
        errors:
          type: array
          items:
            $ref: "#/components/schemas/FieldError"
    MediaChecksum:
      type: object
      additionalProperties: false
      required:
        - algorithm
        - value
      properties:
        algorithm:
          type: string
          enum:
            - sha256
        value:
          type: string
          pattern: ^[a-f0-9]{64}$
    MediaResource:
      type: object
      additionalProperties: false
      required:
        - kind
        - source
      properties:
        id:
          type: string
        kind:
          type: string
          enum:
            - image
            - video
            - audio
            - voice
            - document
            - archive
            - model
            - other
        source:
          type: string
          enum:
            - drive
            - external_url
            - data_url
            - provider_asset
            - generated
        url:
          type: string
          format: uri
        publicUrl:
          type: string
          format: uri
        uri:
          type: string
          maxLength: 500
        objectBlobId:
          type: string
        fileName:
          type: string
          maxLength: 512
        mimeType:
          type: string
          maxLength: 256
        sizeBytes:
          type: string
          pattern: ^-?[0-9]+$
        checksum:
          $ref: '#/components/schemas/MediaChecksum'
        width:
          type: integer
          minimum: 0
        height:
          type: integer
          minimum: 0
        durationSeconds:
          type: number
          minimum: 0
        altText:
          type: string
          maxLength: 512
        title:
          type: string
          maxLength: 255
        metadata:
          type: object
          additionalProperties: true
    AppKind:
      type: string
      enum:
        - STATIC_WEB
        - SPA_WEB
        - API_SERVICE
        - WECHAT_MINIPROGRAM
        - DOUYIN_MINIPROGRAM
        - IOS_APP
        - ANDROID_APP
        - HARMONYOS_APP
    Platform:
      type: string
      enum:
        - WEB
        - API
        - WECHAT
        - DOUYIN
        - IOS
        - ANDROID
        - HARMONYOS
    TechStack:
      type: string
      enum:
        - FLUTTER
        - NATIVE
        - UNI_APP
        - NODE
        - RUST
        - GO
        - JAVA
        - OTHER
    PlatformTargetResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        appId:
          type: string
          format: uuid
        targetKey:
          type: string
        platform:
          $ref: '#/components/schemas/Platform'
        techStack:
          $ref: '#/components/schemas/TechStack'
        architectures:
          type: array
          items:
            type: string
        bundleId:
          type: string
        packageName:
          type: string
        appIdValue:
          type: string
        bundleName:
          type: string
        targetStatus:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CreatePlatformTargetRequest:
      type: object
      required:
        - targetKey
        - platform
      properties:
        targetKey:
          type: string
          minLength: 1
          maxLength: 120
        platform:
          $ref: '#/components/schemas/Platform'
        techStack:
          $ref: '#/components/schemas/TechStack'
        architectures:
          type: array
          items:
            type: string
            maxLength: 64
          maxItems: 32
        bundleId:
          type: string
          maxLength: 255
        packageName:
          type: string
          maxLength: 255
        appId:
          type: string
          maxLength: 255
          description: Platform application id (WeChat / Douyin mini program)
        bundleName:
          type: string
          maxLength: 255
        allowedChannels:
          type: array
          items:
            type: string
            enum:
              - stable
              - beta
              - alpha
              - qa
          maxItems: 8
    ApplicationStoreListing:
      type: object
      additionalProperties: false
      properties:
        icon:
          $ref: '#/components/schemas/MediaResource'
        cover:
          $ref: '#/components/schemas/MediaResource'
        previews:
          type: array
          maxItems: 8
          uniqueItems: true
          items:
            $ref: '#/components/schemas/MediaResource'
        shortDescription:
          type: string
          minLength: 1
          maxLength: 80
        fullDescription:
          type: string
          minLength: 1
          maxLength: 4000
        releaseNotes:
          type: string
          minLength: 1
          maxLength: 4000
        category:
          type: string
          minLength: 1
          maxLength: 80
        keywords:
          type: array
          maxItems: 10
          uniqueItems: true
          items:
            type: string
            minLength: 1
            maxLength: 40
        supportUrl:
          type: string
          format: uri
          maxLength: 2000
        privacyPolicyUrl:
          type: string
          format: uri
          maxLength: 2000
        officialWebsiteUrl:
          type: string
          format: uri
          maxLength: 2000
    CreateApplicationRequest:
      type: object
      required:
        - name
        - appKind
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        slug:
          type: string
          minLength: 1
          maxLength: 100
          pattern: ^[a-z0-9][a-z0-9\-]*[a-z0-9]$
        description:
          type: string
          maxLength: 500
        appKind:
          $ref: '#/components/schemas/AppKind' 
        runtimeConfig:
          type: object
          properties:
            buildCommand:
              type: string
            outputDirectory:
              type: string
            nodeVersion:
              type: string
            installCommand:
              type: string
            startCommand:
              type: string
        storeListing:
          $ref: '#/components/schemas/ApplicationStoreListing'
    UpdateApplicationRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        runtimeConfig:
          type: object
        storeListing:
          $ref: '#/components/schemas/ApplicationStoreListing'
    ApplicationResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        siteId:
          type: string
          format: uuid
          description: The application's backing site id (internal carrier)
        appKind:
          $ref: '#/components/schemas/AppKind'
        siteType:
          type: integer
          description: Internal carrier site type derived from the app kind
        status:
          type: integer
        runtimeConfig:
          type: object
        storeListing:
          $ref: '#/components/schemas/ApplicationStoreListing'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ApplicationPage:
      type: object
      properties:
        items: *a1
        total:
          type: string
          format: int64
          pattern: ^-?[0-9]+$
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
          description: Total item count as a string to avoid JavaScript precision loss.
        page:
          type: integer
        pageSize:
          type: integer
    CreateDomainRequest:
      type: object
      additionalProperties: false
      required:
        - hostname
      properties:
        hostname:
          type: string
          minLength: 1
          maxLength: 253
        isPrimary:
          type: boolean
          default: false
        sslEnabled:
          type: boolean
          default: true
        sslProvider:
          type: string
          enum:
            - letsencrypt
            - custom
            - none
    DomainResponse:
      type: object
      required:
        [
          id,
          hostname,
          certificateCount,
          isPrimary,
          isVerified,
          sslEnabled,
          status,
          createdAt
        ]
      properties:
        id:
          type: string
          format: uuid
        hostname:
          type: string
        applicationId:
          type: string
          format: uuid
        applicationName:
          type: string
        certificateCount:
          type: string
          format: int64
          pattern: ^-?[0-9]+$
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
        isPrimary:
          type: boolean
        isVerified:
          type: boolean
        sslEnabled:
          type: boolean
        sslProvider:
          type: string
        status:
          type: integer
        createdAt:
          type: string
          format: date-time
    DomainPage:
      type: object
      properties:
        items: *a2
        total:
          type: string
          format: int64
          pattern: ^-?[0-9]+$
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
          description: Total item count as a string to avoid JavaScript precision loss.
    DomainVerifyResponse:
      type: object
      additionalProperties: false
      required:
        - verified
        - status
        - method
        - recordName
        - recordValue
        - attemptCount
        - expiresAt
      properties:
        verified:
          type: boolean
        status:
          type: string
          enum: [ PENDING, VERIFIED, FAILED, EXPIRED ]
        method:
          type: string
          enum: [ DNS_TXT ]
        recordName:
          type: string
          minLength: 1
          maxLength: 253
        recordValue:
          type: string
          minLength: 1
          maxLength: 128
        attemptCount:
          type: integer
          minimum: 0
          maximum: 20
        expiresAt:
          type: string
          format: date-time
        nextAttemptAt:
          type: string
          format: date-time
        checkedAt:
          type: string
          format: date-time
        failureCode:
          type: string
          minLength: 1
          maxLength: 64
          pattern: '^[A-Z0-9_]+$'
    SourceVersionConfigSnapshot:
      type: object
      additionalProperties: false
      required:
        - appConfigPath
        - deploymentConfigPath
        - appConfigDetected
        - deploymentConfigDetected
      properties:
        appConfigPath:
          type: string
          default: sdkwork.app.config.json
        deploymentConfigPath:
          type: string
          default: etc/sdkwork.deployment.config.json
        appConfigDetected:
          type: boolean
        deploymentConfigDetected:
          type: boolean
    CreateSourceVersionRequest:
      type: object
      additionalProperties: false
      required:
        - versionTag
        - sourceType
        - artifactDriveUri
        - artifactSize
        - artifactHash
      properties:
        versionTag:
          type: string
          minLength: 1
          maxLength: 100
        sourceType:
          type: string
          enum: [ ARCHIVE, DIRECTORY ]
        sourceRef:
          type: string
          minLength: 1
          maxLength: 500
        commitHash:
          type: string
          minLength: 7
          maxLength: 64
          pattern: '^[a-f0-9]{7,64}$'
        artifactDriveUri:
          type: string
          maxLength: 500
          pattern: '^drive://spaces/[^/?#]+/nodes/[^/?#]+$'
        artifactSize:
          type: string
          format: int64
          pattern: '^[1-9][0-9]*$'
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
        artifactHash:
          type: string
          pattern: '^[a-f0-9]{64}$'
        configSnapshot:
          $ref: "#/components/schemas/SourceVersionConfigSnapshot"
    ImportGitSourceVersionRequest:
      type: object
      additionalProperties: false
      required: [ versionTag, repositoryUrl ]
      properties:
        versionTag:
          type: string
          minLength: 1
          maxLength: 100
        repositoryUrl:
          type: string
          format: uri
          minLength: 1
          maxLength: 500
        gitRef:
          type: string
          minLength: 1
          maxLength: 200
    SourceVersionResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - applicationId
        - versionTag
        - sourceType
        - artifactDriveUri
        - artifactSize
        - artifactHash
        - configSnapshot
        - status
        - retained
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        applicationId:
          type: string
          format: uuid
        versionTag:
          type: string
        sourceType:
          type: string
          enum: [ ARCHIVE, DIRECTORY, GIT ]
        sourceRef:
          type: string
        commitHash:
          type: string
        artifactDriveUri:
          type: string
          pattern: '^drive://spaces/[^/?#]+/nodes/[^/?#]+$'
        artifactSize:
          type: string
          format: int64
          pattern: '^[1-9][0-9]*$'
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
        artifactHash:
          type: string
          pattern: '^[a-f0-9]{64}$'
        configSnapshot:
          $ref: "#/components/schemas/SourceVersionConfigSnapshot"
        status:
          type: integer
          enum: [ 0, 1, 2, 3 ]
        retained:
          type: boolean
        createdAt:
          type: string
          format: date-time
    SourceVersionPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/SourceVersionResponse"
        total:
          type: string
          format: int64
          pattern: ^-?[0-9]+$
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
    CreateDeploymentRequest:
      type: object
      additionalProperties: false
      description: >-
        Deployment source command. Git deployments (deployType 2) require an
        HTTPS sourceRef and may omit artifact fields. Other deployment types
        require artifactDriveUri, artifactSize, and artifactHash together.
      required:
        - deployType
      properties:
        sourceVersionId:
          type: string
          format: uuid
          description: Ready, retained application source version selected for this release.
        deployType:
          type: integer
          description: 1 for a stored package, 2 for a Git repository, 3 for CI/CD, or 4
            for API delivery.
          enum:
            - 1
            - 2
            - 3
            - 4
        versionTag:
          type: string
          minLength: 1
          maxLength: 100
        commitHash:
          type: string
          minLength: 7
          maxLength: 64
          pattern: '^[a-f0-9]{7,64}$'
        sourceRef:
          type: string
          minLength: 1
          maxLength: 500
          description: HTTPS Git repository URL when deployType is 2. Credentials, query
            parameters, and fragments are forbidden.
        artifactDriveUri:
          type: string
          maxLength: 500
          pattern: '^drive://spaces/[^/?#]+/nodes/[^/?#]+$'
          description: Stable Drive resource identity for package deployments. Signed
            delivery URLs are forbidden.
        artifactSize:
          type: string
          format: int64
          pattern: '^[1-9][0-9]*$'
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
        artifactHash:
          type: string
          pattern: '^[a-f0-9]{64}$'
          description: Lowercase SHA-256 hexadecimal digest of the uploaded package.
        environment:
          type: string
          enum: [ development, test, staging, production ]
          default: production
    DeploymentResponse:
      type: object
      additionalProperties: false
      required: [ id, applicationId, status, deployType, environment, createdAt ]
      properties:
        id:
          type: string
          format: uuid
        applicationId:
          type: string
          format: uuid
        deployType:
          type: integer
        sourceVersionId:
          type: string
          format: uuid
        versionTag:
          type: string
        commitHash:
          type: string
        sourceRef:
          type: string
        rollbackFromDeploymentId:
          type: string
          format: uuid
          description: 此还原命令所引用的不可变历史成功版本 ID。
        environment:
          type: string
        artifactDriveUri:
          type: string
          pattern: '^drive://spaces/[^/?#]+/nodes/[^/?#]+$'
        artifactSize:
          type: string
          format: int64
          pattern: '^[1-9][0-9]*$'
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
        artifactHash:
          type: string
          pattern: '^[a-f0-9]{64}$'
        status:
          type: integer
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        durationMs:
          type: string
          format: int64
          pattern: ^-?[0-9]+$
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
          description: Deployment duration in milliseconds as a string to avoid JavaScript
            precision loss.
        createdAt:
          type: string
          format: date-time
    DeploymentPage:
      type: object
      properties:
        items: *a3
        total:
          type: string
          format: int64
          pattern: ^-?[0-9]+$
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
          description: Total item count as a string to avoid JavaScript precision loss.
    CreateEnvVariableRequest:
      type: object
      additionalProperties: false
      required:
        - key
        - value
      properties:
        key:
          type: string
          minLength: 1
          maxLength: 200
          pattern: '^[A-Za-z_][A-Za-z0-9_]*$'
        value:
          type: string
          maxLength: 65536
        environment:
          type: string
          enum:
            - development
            - test
            - staging
            - production
          default: production
        isSecret:
          type: boolean
          default: true
    UpdateEnvVariableRequest:
      type: object
      additionalProperties: false
      required:
        - value
      properties:
        value:
          type: string
          maxLength: 65536
        isSecret:
          type: boolean
          default: true
    EnvVariableResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        key:
          type: string
        environment:
          type: string
        isSecret:
          type: boolean
        createdAt:
          type: string
          format: date-time
    EnvVariablePage:
      type: object
      properties:
        items: *a4
        total:
          type: string
          format: int64
          pattern: ^-?[0-9]+$
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
          description: Total item count as a string to avoid JavaScript precision loss.
    CertificateIdentifierResponse:
      type: object
      additionalProperties: false
      required: [ domainId, hostname, identifierType, position ]
      properties:
        domainId:
          type: string
          format: uuid
        hostname:
          type: string
          minLength: 1
          maxLength: 253
        identifierType:
          type: string
          enum: [ EXACT, WILDCARD ]
        position:
          type: integer
          minimum: 0
          maximum: 7
    CreateListenerCertificateBindingRequest:
      type: object
      additionalProperties: false
      required: [ certificateId ]
      properties:
        certificateId:
          type: string
          format: uuid
        certificateVersionId:
          type: string
          format: uuid
          description: Immutable certificate version. Omit to bind the certificate's
            current active version.
        priority:
          type: integer
          minimum: 0
          maximum: 10000
          default: 100
        isDefault:
          type: boolean
          default: false
    ListenerCertificateBindingResponse:
      type: object
      additionalProperties: false
      required:
        [
          id,
          applicationId,
          domainId,
          certificateId,
          desiredCertificateVersionId,
          desiredCertificate,
          keyAlgorithm,
          priority,
          isDefault,
          status,
          createdAt,
          updatedAt
        ]
      properties:
        id:
          type: string
          format: uuid
        applicationId:
          type: string
          format: uuid
        domainId:
          type: string
          format: uuid
        certificateId:
          type: string
          format: uuid
        desiredCertificateVersionId:
          type: string
          format: uuid
        currentCertificateVersionId:
          type: string
          format: uuid
        desiredCertificate:
          $ref: "#/components/schemas/ListenerCertificateSummaryResponse"
        currentCertificate:
          $ref: "#/components/schemas/ListenerCertificateSummaryResponse"
        keyAlgorithm:
          type: string
          enum: [ ECDSA, RSA ]
        priority:
          type: integer
          minimum: 0
          maximum: 10000
        isDefault:
          type: boolean
        status:
          type: string
          enum: [ PENDING, DEPLOYING, ACTIVE, PAUSED, FAILED, ARCHIVED ]
        activatedAt:
          type: [ string, 'null' ]
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ListenerCertificateSummaryResponse:
      type: object
      additionalProperties: false
      required: [ certName, identifiers, status ]
      properties:
        certName:
          type: string
        identifiers:
          type: array
          minItems: 1
          maxItems: 8
          items:
            $ref: "#/components/schemas/CertificateIdentifierResponse"
        issuer:
          type: string
        fingerprint:
          type: string
          pattern: '^[a-f0-9]{64}$'
        notAfter:
          type: string
          format: date-time
        status:
          type: string
          enum: [ PENDING, ISSUED, FAILED, EXPIRED, REVOKED, ARCHIVED ]
    CreateHealthCheckRequest:
      type: object
      additionalProperties: false
      required:
        - checkType
        - checkUrl
      properties:
        checkType:
          type: integer
          enum:
            - 1
            - 2
            - 3
        checkUrl:
          type: string
          minLength: 1
          maxLength: 2000
        checkInterval:
          type: integer
          minimum: 5
          maximum: 86400
          default: 60
        timeoutMs:
          type: integer
          minimum: 100
          maximum: 60000
          default: 5000
        retryCount:
          type: integer
          minimum: 0
          maximum: 10
          default: 3
    HealthCheckResponse:
      type: object
      additionalProperties: false
      required:
        [
          id,
          checkType,
          checkUrl,
          checkInterval,
          timeoutMs,
          retryCount,
          status,
          createdAt
        ]
      properties:
        id:
          type: string
          format: uuid
        checkType:
          type: integer
        checkUrl:
          type: string
        checkInterval:
          type: integer
        timeoutMs:
          type: integer
        retryCount:
          type: integer
        status:
          type: integer
        createdAt:
          type: string
          format: date-time
    HealthCheckPage:
      type: object
      properties:
        items: *a6
        total:
          type: string
          format: int64
          pattern: ^-?[0-9]+$
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
          description: Total item count as a string to avoid JavaScript precision loss.
    SdkWorkApiResponse:
      type: object
      additionalProperties: false
      required:
        - code
        - data
        - traceId
      properties:
        code:
          type: integer
          format: int32
          enum:
            - 0
          default: 0
          minimum: 0
          maximum: 0
        data:
          description: Operation-specific payload typed per response schema.
        traceId:
          type: string
          format: uuid
          description: Server-owned request correlation id.
    SdkWorkResourceData:
      type: object
      additionalProperties: false
      required:
        - item
      properties:
        item:
          type: object
          additionalProperties: true
          description: Typed domain resource for the operation.
    SdkWorkPageData:
      type: object
      additionalProperties: false
      required:
        - items
        - pageInfo
      properties:
        items:
          type: array
          items:
            type: object
            additionalProperties: true
        pageInfo:
          $ref: "#/components/schemas/PageInfo"
    SdkWorkCommandData:
      type: object
      additionalProperties: false
      required:
        - accepted
      properties:
        accepted:
          type: boolean
          const: true
        resourceId:
          type: string
        status:
          type: string
    SdkWorkAsyncData:
      type: object
      additionalProperties: false
      required: [ accepted, operationId, status ]
      properties:
        accepted:
          type: boolean
          const: true
        operationId:
          type: string
          format: uuid
        status:
          type: string
          enum: [ pending, running, succeeded, failed, cancelled ]
        pollUrl:
          type: string
          format: uri-reference
    PageInfo:
      type: object
      additionalProperties: false
      required:
        - mode
      properties:
        mode:
          type: string
          enum:
            - offset
            - cursor
        page:
          type: integer
          minimum: 1
        pageSize:
          type: integer
          minimum: 1
          maximum: 200
        totalItems:
          type: string
          pattern: ^-?[0-9]+$
        totalPages:
          type: integer
          minimum: 0
        nextCursor:
          type:
            - string
            - "null"
        hasMore:
          type: boolean
    SdkWorkPlatformErrorCode:
      type: integer
      format: int32
      minimum: 40001
      maximum: 79999
      description: Platform or domain error code per API_SPEC.md §15.3.
    FieldError:
      type: object
      additionalProperties: false
      required:
        - field
        - message
      properties:
        field:
          type: string
        message:
          type: string
        code:
          type: integer
          format: int32
          minimum: 40011
          maximum: 40099
    SdkWorkResourceResponse:
      allOf:
        - $ref: "#/components/schemas/SdkWorkApiResponse"
        - type: object
          required:
            - data
          properties:
            data:
              $ref: "#/components/schemas/SdkWorkResourceData"
    SdkWorkListResponse:
      allOf:
        - $ref: "#/components/schemas/SdkWorkApiResponse"
        - type: object
          required:
            - data
          properties:
            data:
              $ref: "#/components/schemas/SdkWorkPageData"
    SdkWorkCommandResponse:
      allOf:
        - $ref: "#/components/schemas/SdkWorkApiResponse"
        - type: object
          required:
            - data
          properties:
            data:
              $ref: "#/components/schemas/SdkWorkCommandData"
  responses:
    BadRequest:
      description: 请求参数错误
      content:
        application/problem+json:
          schema: &a7
            $ref: "#/components/schemas/ProblemDetail"
    Unauthorized:
      description: 未认证
      content:
        application/problem+json:
          schema: *a7
    NotFound:
      description: 资源不存在
      content:
        application/problem+json:
          schema: *a7
    Conflict:
      description: 资源冲突
      content:
        application/problem+json:
          schema: *a7
    ValidationError:
      description: 校验错误
      content:
        application/problem+json:
          schema: *a7
    RateLimited:
      description: 请求过于频繁
      content:
        application/problem+json:
          schema: *a7
