openapi: 3.1.2
info:
  title: SDKWork Webserver Backend API
  description: SDKWork Web Server management and control-plane API.
  version: 1.0.0
servers:
- url: https://api.server.sdkwork.com
  description: Production
- url: http://localhost:3800
  description: Local Development
security:
- AuthToken: []
  AccessToken: []
paths:
  /backend/v3/api/applications:
    get:
      operationId: applications.list
      summary: List managed applications
      x-sdkwork-pagination-mode: offset
      tags:
      - application
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.read
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - name: application_type
        in: query
        schema:
          type: string
          enum:
          - WEB
          - API
      - name: site_type
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 6
      - name: status
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 3
      - name: q
        in: query
        schema:
          type: string
          maxLength: 100
      responses:
        '200':
          description: Managed application list returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - items
                      - pageInfo
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/ApplicationResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
    post:
      operationId: applications.create
      summary: Create a managed application
      tags:
      - application
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-webserver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationRequest'
      responses:
        '201':
          description: Managed application created successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationResponse'
  /backend/v3/api/applications/{applicationId}:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    get:
      operationId: applications.retrieve
      summary: Retrieve a managed application
      tags:
      - application
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.read
      x-sdkwork-owner: sdkwork-webserver
      responses:
        '200':
          description: Managed application returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters: []
    patch:
      operationId: applications.update
      summary: Update a managed application
      tags:
      - application
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-webserver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApplicationRequest'
      responses:
        '200':
          description: Managed application updated successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: applications.delete
      summary: Delete a managed application
      tags:
      - application
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      responses:
        '204':
          description: Managed application deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'
  /backend/v3/api/applications/{applicationId}/activate:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    post:
      operationId: applications.activate
      summary: Activate a managed application
      tags:
      - application
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      responses:
        '200':
          description: Managed application activated successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /backend/v3/api/applications/{applicationId}/pause:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    post:
      operationId: applications.pause
      summary: Pause a managed application
      tags:
      - application
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      responses:
        '200':
          description: Managed application paused successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /backend/v3/api/applications/{applicationId}/domains:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    get:
      operationId: applications.domains.list
      summary: List application domains
      x-sdkwork-pagination-mode: offset
      tags:
      - applicationDomain
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.read
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Application domain list returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - items
                      - pageInfo
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/ApplicationDomainResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
    post:
      operationId: applications.domains.create
      summary: Bind a public domain to an application
      tags:
      - applicationDomain
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-webserver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationDomainRequest'
      responses:
        '201':
          description: Application domain bound successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationDomainResponse'
  /backend/v3/api/applications/{applicationId}/domains/{domainId}:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    - $ref: '#/components/parameters/DomainIdParam'
    delete:
      operationId: applications.domains.delete
      summary: Unbind an application public domain
      tags:
      - applicationDomain
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      responses:
        '204':
          description: Application domain unbound successfully.
        '404':
          $ref: '#/components/responses/NotFound'
  /backend/v3/api/applications/{applicationId}/domains/{domainId}/verify:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    - $ref: '#/components/parameters/DomainIdParam'
    post:
      operationId: applications.domains.verify
      summary: Create or check an application-domain ownership challenge
      tags:
      - applicationDomain
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-webserver
      responses:
        '200':
          description: Domain ownership challenge and latest external observation
            returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/DomainVerifyResponse'
  /backend/v3/api/applications/{applicationId}/domains/{domainId}/listener_certificate_bindings:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    - $ref: '#/components/parameters/DomainIdParam'
    get:
      operationId: applications.domains.listenerCertificateBindings.list
      summary: List certificates active on an application domain listener
      description: Returns an offset-paginated P1 list ordered by default status,
        priority, and stable binding id.
      x-sdkwork-pagination-mode: offset
      tags:
      - certificate
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.certificates.read
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Listener certificate bindings returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      additionalProperties: false
                      required:
                      - items
                      - pageInfo
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/ListenerCertificateBindingResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: applications.domains.listenerCertificateBindings.create
      summary: Bind a certificate version to an application domain listener
      tags:
      - certificate
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.certificates.write
      x-sdkwork-idempotent: true
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateListenerCertificateBindingRequest'
      responses:
        '201':
          description: Certificate version bound to the listener successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      additionalProperties: false
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ListenerCertificateBindingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /backend/v3/api/applications/{applicationId}/domains/{domainId}/listener_certificate_bindings/{bindingId}:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    - $ref: '#/components/parameters/DomainIdParam'
    - $ref: '#/components/parameters/ListenerCertificateBindingIdParam'
    delete:
      operationId: applications.domains.listenerCertificateBindings.delete
      summary: Remove a certificate from an application domain listener
      tags:
      - certificate
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.certificates.write
      x-sdkwork-idempotent: true
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: Listener certificate binding removed successfully.
        '404':
          $ref: '#/components/responses/NotFound'
  /backend/v3/api/root_domains:
    get:
      operationId: rootDomains.list
      summary: List tenant root-domain Zones
      x-sdkwork-pagination-mode: offset
      tags:
      - domain
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.read
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - name: status
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 2
      - name: q
        in: query
        schema:
          type: string
          maxLength: 253
      responses:
        '200':
          description: Tenant root-domain Zones returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - items
                      - pageInfo
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/RootDomainResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
    post:
      operationId: rootDomains.create
      summary: Define a tenant root-domain Zone
      tags:
      - domain
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRootDomainRequest'
      responses:
        '201':
          description: Tenant root-domain Zone defined successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/RootDomainResponse'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
  /backend/v3/api/root_domains/{rootDomainId}:
    parameters:
    - $ref: '#/components/parameters/RootDomainIdParam'
    get:
      operationId: rootDomains.retrieve
      summary: Retrieve a tenant root-domain Zone
      tags:
      - domain
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.read
      x-sdkwork-owner: sdkwork-webserver
      responses:
        '200':
          description: Tenant root-domain Zone returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/RootDomainResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters: []
    patch:
      operationId: rootDomains.update
      summary: Edit a tenant root-domain Zone
      tags:
      - domain
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRootDomainRequest'
      responses:
        '200':
          description: Tenant root-domain Zone updated successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/RootDomainResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: rootDomains.delete
      summary: Delete an empty tenant root-domain Zone
      tags:
      - domain
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: Tenant root-domain Zone deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /backend/v3/api/root_domains/{rootDomainId}/subdomains:
    parameters:
    - $ref: '#/components/parameters/RootDomainIdParam'
    get:
      operationId: rootDomains.subdomains.list
      summary: List publishable hostnames in a root-domain Zone
      x-sdkwork-pagination-mode: offset
      tags:
      - domain
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.read
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Root-domain hostnames returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - items
                      - pageInfo
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/ApplicationDomainResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: rootDomains.subdomains.create
      summary: Add a publishable hostname to a root-domain Zone
      tags:
      - domain
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRootDomainHostnameRequest'
      responses:
        '201':
          description: Root-domain hostname added successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationDomainResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
  /backend/v3/api/domains:
    get:
      operationId: domains.list
      summary: List tenant custom domain assets
      x-sdkwork-pagination-mode: offset
      tags:
      - domain
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.read
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Tenant custom domain assets returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - items
                      - pageInfo
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/ApplicationDomainResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
    post:
      operationId: domains.create
      summary: Register a tenant custom domain asset
      tags:
      - domain
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateManagedDomainRequest'
      responses:
        '201':
          description: Tenant custom domain asset registered successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationDomainResponse'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
  /backend/v3/api/domains/{domainId}:
    parameters:
    - $ref: '#/components/parameters/DomainIdParam'
    delete:
      operationId: domains.delete
      summary: Delete an unbound tenant custom domain asset
      tags:
      - domain
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: Tenant custom domain asset deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /backend/v3/api/domains/{domainId}/verify:
    parameters:
    - $ref: '#/components/parameters/DomainIdParam'
    post:
      operationId: domains.verify
      summary: Create or check a tenant custom-domain ownership challenge
      tags:
      - domain
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Domain ownership challenge and latest external observation
            returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/DomainVerifyResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /backend/v3/api/domains/{domainId}/application_binding:
    parameters:
    - $ref: '#/components/parameters/DomainIdParam'
    put:
      operationId: domains.applicationBinding.update
      summary: Bind a tenant custom domain to an application
      tags:
      - domain
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDomainApplicationBindingRequest'
      responses:
        '200':
          description: Tenant custom domain application binding updated successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationDomainResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: domains.applicationBinding.delete
      summary: Unbind a tenant custom domain from its application
      tags:
      - domain
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: Tenant custom domain application binding deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'
  /backend/v3/api/applications/{applicationId}/source_versions:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    get:
      operationId: applications.sourceVersions.list
      summary: List immutable application source versions
      x-sdkwork-pagination-mode: cursor
      tags:
      - applicationSourceVersion
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.read
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Application source versions returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - items
                      - pageInfo
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/ApplicationSourceVersionResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
    post:
      operationId: applications.sourceVersions.create
      summary: Register an immutable Drive-backed application source version
      tags:
      - applicationSourceVersion
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationSourceVersionRequest'
      responses:
        '201':
          description: Application source version registered successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationSourceVersionResponse'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
  /backend/v3/api/applications/{applicationId}/source_versions/git_import:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    post:
      operationId: applications.sourceVersions.gitImport.create
      summary: Import an immutable application source version from a public Git repository
      tags:
      - applicationSourceVersion
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportApplicationGitSourceVersionRequest'
      responses:
        '201':
          description: Git source version imported into Drive successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationSourceVersionResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /backend/v3/api/applications/{applicationId}/source_versions/{sourceVersionId}:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    - $ref: '#/components/parameters/SourceVersionIdParam'
    get:
      operationId: applications.sourceVersions.retrieve
      summary: Retrieve an application source version
      tags:
      - applicationSourceVersion
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.read
      x-sdkwork-owner: sdkwork-webserver
      responses:
        '200':
          description: Application source version returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationSourceVersionResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters: []
  /backend/v3/api/applications/{applicationId}/deployments:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    get:
      operationId: applications.deployments.list
      summary: List application deployments
      tags:
      - applicationDeployment
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.read
      x-sdkwork-owner: sdkwork-webserver
      x-sdkwork-pagination-mode: cursor
      parameters:
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/CursorParam'
      - name: status
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 6
      responses:
        '200':
          description: Application deployment list returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - items
                      - pageInfo
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/ApplicationDeploymentResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
    post:
      operationId: applications.deployments.create
      summary: Deploy an application
      tags:
      - applicationDeployment
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationDeploymentRequest'
      responses:
        '201':
          description: Application deployment created successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationDeploymentResponse'
  /backend/v3/api/applications/{applicationId}/deployments/{deploymentId}/rollback:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    - $ref: '#/components/parameters/DeploymentIdParam'
    post:
      operationId: applications.deployments.rollback
      summary: Restore a managed application from an immutable successful version
      tags:
      - applicationDeployment
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      responses:
        '200':
          description: Application restore command created; deployment proceeds asynchronously.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationDeploymentResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /backend/v3/api/certificates:
    get:
      operationId: certificates.list
      summary: List canonical certificates
      x-sdkwork-pagination-mode: offset
      tags:
      - certificate
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.certificates.read
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - name: domain_id
        in: query
        required: false
        description: Limit certificates to those whose SAN identifiers cover this
          domain.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Canonical certificate list returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - items
                      - pageInfo
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/CertificateResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
  /backend/v3/api/certificates/issue:
    post:
      operationId: certificates.issue
      summary: Issue a canonical certificate
      tags:
      - certificate
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.certificates.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueCertificateRequest'
      responses:
        '202':
          description: Certificate issuance was accepted for asynchronous processing.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/SdkWorkAsyncData'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
  /backend/v3/api/certificates/operations/{operationId}:
    parameters:
    - $ref: '#/components/parameters/CertificateOperationIdParam'
    get:
      operationId: certificates.operations.retrieve
      summary: Retrieve a certificate operation
      tags:
      - certificate
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.certificates.read
      x-sdkwork-owner: sdkwork-webserver
      responses:
        '200':
          description: Certificate operation returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      additionalProperties: false
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/CertificateOperationResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters: []
  /backend/v3/api/certificates/{certificateId}:
    parameters:
    - $ref: '#/components/parameters/CertificateIdParam'
    put:
      operationId: certificates.update
      summary: Update certificate automatic renewal policy
      tags:
      - certificate
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.certificates.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-webserver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCertificateRequest'
      responses:
        '200':
          description: Certificate automatic renewal policy updated successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/CertificateResponse'
    delete:
      operationId: certificates.delete
      summary: Soft-delete a certificate and release its domain identifiers
      tags:
      - certificate
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.certificates.write
      x-sdkwork-idempotent: true
      x-sdkwork-rate-limit-tier: auth-critical
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-webserver
      responses:
        '204':
          description: Certificate deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /backend/v3/api/certificates/{certificateId}/renew:
    parameters:
    - $ref: '#/components/parameters/CertificateIdParam'
    post:
      operationId: certificates.renew
      summary: Renew a canonical certificate now
      tags:
      - certificate
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.certificates.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      responses:
        '202':
          description: Certificate renewal was accepted for asynchronous processing.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/SdkWorkAsyncData'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
  /backend/v3/api/certificates/{certificateId}/revoke:
    parameters:
    - $ref: '#/components/parameters/CertificateIdParam'
    post:
      operationId: certificates.revoke
      summary: Revoke a canonical certificate
      tags:
      - certificate
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.certificates.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeCertificateRequest'
      responses:
        '200':
          description: Certificate revoked and listener bindings archived.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/CertificateResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
  /backend/v3/api/certificate_distribution:
    get:
      operationId: certificates.distribution.list
      summary: List certificate manifest convergence by server
      x-sdkwork-pagination-mode: offset
      tags:
      - certificateDistribution
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.certificates.read
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Certificate manifest convergence list returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - items
                      - pageInfo
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/CertificateDistributionResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
  /backend/v3/api/nginx/configs:
    get:
      operationId: configs.list
      summary: List Nginx configurations
      x-sdkwork-pagination-mode: offset
      tags:
      - nginx
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.nginx.write
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - name: site_id
        in: query
        schema:
          type: string
          format: uuid
      - name: config_type
        in: query
        schema:
          type: integer
          enum:
          - 1
          - 2
          - 3
          - 4
      - name: is_active
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Nginx configuration list returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      additionalProperties: false
                      required:
                      - items
                      - pageInfo
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/NginxConfigResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
    post:
      operationId: configs.create
      summary: Create an Nginx configuration
      tags:
      - nginx
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.nginx.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-webserver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNginxConfigRequest'
      responses:
        '201':
          description: Nginx configuration created successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/NginxConfigResponse'
  /backend/v3/api/nginx/etc/{configId}:
    parameters:
    - name: configId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: configs.retrieve
      summary: Retrieve an Nginx configuration
      tags:
      - nginx
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.nginx.write
      x-sdkwork-owner: sdkwork-webserver
      responses:
        '200':
          description: Nginx configuration returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/NginxConfigResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters: []
    put:
      operationId: configs.update
      summary: Update an Nginx configuration
      tags:
      - nginx
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.nginx.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-webserver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNginxConfigRequest'
      responses:
        '200':
          description: Nginx configuration updated successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/NginxConfigResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /backend/v3/api/nginx/etc/{configId}/validate:
    parameters:
    - name: configId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    post:
      operationId: configs.validate
      summary: Validate an Nginx configuration
      tags:
      - nginx
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.nginx.write
      x-sdkwork-owner: sdkwork-webserver
      responses:
        '200':
          description: Nginx configuration validation result.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/NginxValidateResponse'
      parameters: []
  /backend/v3/api/nginx/etc/{configId}/deploy:
    parameters:
    - name: configId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    post:
      operationId: configs.deploy
      summary: Deploy an Nginx configuration
      tags:
      - nginx
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.nginx.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-webserver
      x-sdkwork-rate-limit-tier: auth-critical
      responses:
        '200':
          description: Nginx configuration deployed successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/NginxDeployResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /backend/v3/api/nginx/reload:
    post:
      operationId: reload
      summary: Reload Nginx
      tags:
      - nginx
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.nginx.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-webserver
      responses:
        '200':
          description: Nginx reload result.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/NginxReloadResponse'
  /backend/v3/api/nginx/status:
    get:
      operationId: status.retrieve
      summary: Retrieve Nginx status
      tags:
      - nginx
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.nginx.write
      x-sdkwork-owner: sdkwork-webserver
      responses:
        '200':
          description: Nginx status returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/NginxStatusResponse'
      parameters: []
  /backend/v3/api/servers:
    get:
      operationId: servers.list
      summary: List managed servers
      x-sdkwork-pagination-mode: cursor
      tags:
      - server
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.servers.read
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Managed server list returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      additionalProperties: false
                      required:
                      - items
                      - pageInfo
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/ServerResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
    post:
      operationId: servers.create
      summary: Register a managed server
      tags:
      - server
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.servers.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-webserver
      x-sdkwork-rate-limit-tier: auth-critical
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServerRequest'
      responses:
        '201':
          description: Managed server registered successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/CreateServerResponse'
  /backend/v3/api/server_files/nodes:
    get:
      operationId: serverFiles.nodes.list
      summary: List Server Files deployment nodes
      tags:
      - serverFile
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.servers.files.read
      x-sdkwork-owner: sdkwork-webserver
      responses:
        '200':
          description: Server Files node inventory returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      additionalProperties: false
                      required:
                      - items
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/ServerFilesNode'
      parameters: []
  /backend/v3/api/server_files/nodes/{nodeId}/directory:
    get:
      operationId: serverFiles.node.directory.list
      summary: Browse a deployment node directory
      tags:
      - serverFile
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.servers.files.read
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - name: nodeId
        in: path
        required: true
        schema:
          type: string
      - name: path
        in: query
        required: true
        description: Absolute path to browse, resolved strictly inside the node filesystem
          root.
        schema:
          type: string
      responses:
        '200':
          description: Directory listing returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/ServerDirectoryListing'
  /backend/v3/api/server_files/nodes/{nodeId}/files/{filePath}:
    get:
      operationId: serverFiles.node.file.retrieve
      summary: Read a text file on a deployment node
      tags:
      - serverFile
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.servers.files.read
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - name: nodeId
        in: path
        required: true
        schema:
          type: string
      - name: filePath
        in: path
        required: true
        description: Absolute path of the file to read, resolved strictly inside the
          node filesystem root.
        schema:
          type: string
      responses:
        '200':
          description: File content returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/ServerFileContent'
  /backend/v3/api/server_files/nodes/{nodeId}/operations:
    get:
      operationId: serverFiles.node.operations.list
      summary: List operations available for a project directory
      tags:
      - serverFile
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.servers.files.read
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - name: nodeId
        in: path
        required: true
        schema:
          type: string
      - name: path
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Project operations returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/ServerProjectOperations'
    post:
      operationId: serverFiles.node.operations.create
      summary: Run a project operation on a deployment node
      description: Runs a classified project lifecycle operation as fixed argv.
        Build/package operations run to completion under a hard timeout with
        byte-capped output capture and kill the process tree on expiry.
        Start/stop/restart manage the project's single managed process through
        a pid file (start refuses a duplicate live process; stop is idempotent).
        Managed operations require the `web.servers.files.deploy` permission
        and are rejected with 403 when the principal lacks it. Deployment is
        not a shell operation; application releases go through the durable
        deployment command plane.
      tags:
      - serverFile
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.servers.files.write
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - name: nodeId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerRunOperationRequest'
      responses:
        '201':
          description: Project operation result returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/ServerOperationResult'
        '403':
          description: Deploy-class operation requested without the required
            web.servers.files.deploy permission.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /backend/v3/api/webserver_configs:
    get:
      operationId: webserverConfigs.list
      summary: List the managed Web Server configuration catalog
      description: Enumerates the manageable configuration files of the current
        deployment, covering the default runtime configuration, the imports.d
        module import plane, and read-only sibling-module sidecar configurations.
      tags:
      - webserverConfig
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.servers.files.read
      x-sdkwork-owner: sdkwork-webserver
      parameters: []
      responses:
        '200':
          description: Web Server configuration catalog returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/WebserverConfigCatalog'
  /backend/v3/api/webserver_configs/{configId}:
    get:
      operationId: webserverConfigs.retrieve
      summary: Read one managed configuration file
      tags:
      - webserverConfig
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.servers.files.read
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - name: configId
        in: path
        required: true
        description: Stable catalog id of the configuration entry.
        schema:
          type: string
      responses:
        '200':
          description: Configuration file content returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/WebserverConfigFile'
    put:
      operationId: webserverConfigs.update
      summary: Validate and atomically overwrite one managed configuration file
      description: Creates a timestamped backup of the previous content, validates
        the new content (JSON/TOML parsers where applicable), and replaces the
        file atomically. Pass expectedSha256 from the preceding read for
        optimistic concurrency. This operation rewrites the live Web Server
        configuration plane and therefore requires the `web.nginx.write`
        permission (PRD-FR-029 route-level authorization).
      tags:
      - webserverConfig
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.nginx.write
      x-sdkwork-idempotent: true
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - name: configId
        in: path
        required: true
        description: Stable catalog id of the configuration entry.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebserverConfigWriteRequest'
      responses:
        '200':
          description: Configuration file updated successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/WebserverConfigWriteResult'
        '403':
          description: Principal lacks the required web.nginx.write permission.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /backend/v3/api/agent/heartbeat:
    post:
      operationId: heartbeat
      summary: Report an edge-agent heartbeat
      tags:
      - agent
      security:
      - AgentToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: api-key
      x-sdkwork-route-auth: agent-token
      x-sdkwork-owner: sdkwork-webserver
      x-sdkwork-rate-limit-tier: auth-critical
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentHeartbeatRequest'
      responses:
        '200':
          description: Edge-agent heartbeat acknowledged successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/AgentHeartbeatResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
      parameters: []
  /backend/v3/api/agent/sync:
    get:
      operationId: retrieve
      summary: Retrieve the Nginx configuration and certificate bundle
      tags:
      - agent
      security:
      - AgentToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: api-key
      x-sdkwork-route-auth: agent-token
      x-sdkwork-owner: sdkwork-webserver
      x-sdkwork-rate-limit-tier: auth-critical
      parameters:
      - name: if_sync_version
        in: query
        description: When it matches the current tenant manifest fingerprint, returns
          unchanged=true with empty bundles.
        schema:
          type: string
      responses:
        '200':
          description: Edge-agent synchronization bundle returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/AgentSyncResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /backend/v3/api/audit_logs:
    get:
      operationId: auditLogs.list
      summary: List audit logs
      tags:
      - audit
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.auditLogs.read
      x-sdkwork-owner: sdkwork-webserver
      x-sdkwork-pagination-mode: cursor
      parameters:
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/CursorParam'
      - name: target_type
        in: query
        schema:
          type: string
      - name: action
        in: query
        schema:
          type: string
      - name: operator_id
        in: query
        schema:
          type: string
          format: int64
          pattern: ^-?[0-9]+$
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
      - name: start_date
        in: query
        schema:
          type: string
          format: date-time
      - name: end_date
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Audit log list returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      additionalProperties: false
                      required:
                      - items
                      - pageInfo
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/AuditLogResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
  /backend/v3/api/clusters:
    get:
      operationId: clusters.list
      summary: List Web Server clusters
      x-sdkwork-pagination-mode: offset
      tags:
      - cluster
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.cluster.read
      x-sdkwork-owner: sdkwork-webserver
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Cluster list returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      additionalProperties: false
                      required:
                      - items
                      - pageInfo
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/ClusterResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
    post:
      operationId: clusters.create
      summary: Create a Web Server cluster
      tags:
      - cluster
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.cluster.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClusterRequest'
      responses:
        '201':
          description: Cluster created successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ClusterResponse'
  /backend/v3/api/clusters/{clusterId}:
    parameters:
    - $ref: '#/components/parameters/ClusterIdParam'
    get:
      operationId: clusters.retrieve
      summary: Retrieve a Web Server cluster
      tags:
      - cluster
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.cluster.read
      x-sdkwork-owner: sdkwork-webserver
      responses:
        '200':
          description: Cluster returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ClusterResponse'
    patch:
      operationId: clusters.update
      summary: Update a Web Server cluster
      tags:
      - cluster
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.cluster.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-webserver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClusterRequest'
      responses:
        '200':
          description: Cluster updated successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ClusterResponse'
    delete:
      operationId: clusters.delete
      summary: Delete an empty Web Server cluster
      tags:
      - cluster
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.cluster.write
      x-sdkwork-idempotent: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      responses:
        '204':
          description: Cluster deleted successfully.
  /backend/v3/api/clusters/{clusterId}/sync:
    parameters:
    - $ref: '#/components/parameters/ClusterIdParam'
    post:
      operationId: clusters.sync
      summary: Publish a desired-state revision to every instance of the cluster
      description: |-
        Publishes one desired-state revision for the `config` or `applications`
        track and flips every instance of the cluster to PENDING. Instances read
        the revision through the machine-only internal API, apply it, and
        acknowledge IN_SYNC or FAILED; a drifting node is visible on the admin
        surface through the aggregate sync status.
      tags:
      - cluster
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.cluster.write
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-webserver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishClusterSyncRequest'
      responses:
        '200':
          description: Sync revision published.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      additionalProperties: false
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ClusterSyncManifest'
  /backend/v3/api/clusters/hosts:
    get:
      operationId: clusters.hosts.list
      summary: List cluster hosts with system and network identity
      x-sdkwork-pagination-mode: cursor
      tags:
      - cluster
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-webserver-backend-api
      x-sdkwork-request-context: WebRequestContext
[...]
