{
  "openapi": "3.1.2",
  "info": {
    "title": "SDKWork Webserver Internal API",
    "description": "Authenticated website runtime-set distribution and node observation API.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://web.internal.sdkwork.com",
      "description": "Production application ingress"
    },
    {
      "url": "http://localhost:3800",
      "description": "Local development application ingress"
    }
  ],
  "security": [
    {
      "ApiKey": []
    }
  ],
  "paths": {
    "/internal/v3/api/web/runtime_assignments/{nodeUuid}/{environment}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/NodeUuid"
        },
        {
          "$ref": "#/components/parameters/Environment"
        }
      ],
      "put": {
        "operationId": "runtimeAssignments.update",
        "summary": "Publish the desired runtime-set for a Web Node",
        "tags": [
          "runtime"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "x-sdkwork-api-surface": "internal-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-internal-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "ingress-token",
        "x-sdkwork-route-auth": "ingress-token",
        "x-sdkwork-permission": "web.runtimeAssignments.write",
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "x-sdkwork-owner": "sdkwork-webserver",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishRuntimeAssignmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Desired runtime assignment accepted idempotently.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/RuntimeAssignment"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "SDKWork problem detail.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "SDKWork problem detail.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "SDKWork problem detail.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "413": {
            "description": "SDKWork problem detail.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/internal/v3/api/web/runtime_assignments/current": {
      "get": {
        "operationId": "runtimeAssignments.current.retrieve",
        "summary": "Retrieve the authenticated Web Node's current desired runtime-set",
        "tags": [
          "runtime"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "x-sdkwork-api-surface": "internal-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-internal-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "ingress-token",
        "x-sdkwork-route-auth": "ingress-token",
        "x-sdkwork-permission": "web.agent.read",
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/EnvironmentQuery"
          },
          {
            "name": "ifGeneration",
            "in": "query",
            "required": false,
            "description": "Last generation durably observed by this node.",
            "schema": {
              "$ref": "#/components/schemas/GenerationString"
            }
          },
          {
            "name": "ifSnapshotSha256",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current desired runtime assignment returned.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/RuntimeAssignmentDelivery"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "SDKWork problem detail.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "SDKWork problem detail.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/internal/v3/api/web/runtime_assignments/{snapshotUuid}/observations": {
      "parameters": [
        {
          "name": "snapshotUuid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
          }
        }
      ],
      "post": {
        "operationId": "runtimeAssignments.observations.create",
        "summary": "Record a Web Node runtime-set observation",
        "tags": [
          "runtime"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "x-sdkwork-api-surface": "internal-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-internal-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "ingress-token",
        "x-sdkwork-route-auth": "ingress-token",
        "x-sdkwork-permission": "web.agent.write",
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "x-sdkwork-owner": "sdkwork-webserver",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRuntimeObservationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Authenticated Web Node runtime observation resource.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/RuntimeObservation"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "SDKWork problem detail.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "SDKWork problem detail.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "SDKWork problem detail.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/internal/v3/api/web/runtime_assignments/{snapshotUuid}/observations/latest": {
      "parameters": [
        {
          "name": "snapshotUuid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
          }
        }
      ],
      "get": {
        "operationId": "runtimeAssignments.observations.latest.retrieve",
        "summary": "Retrieve the latest authenticated Web Node runtime-set observation",
        "tags": [
          "runtime"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "x-sdkwork-api-surface": "internal-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-internal-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "ingress-token",
        "x-sdkwork-route-auth": "ingress-token",
        "x-sdkwork-permission": "web.runtimeAssignments.write",
        "x-sdkwork-owner": "sdkwork-webserver",
        "responses": {
          "200": {
            "description": "Authenticated Web Node runtime observation resource.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/RuntimeObservation"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "SDKWork problem detail.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "SDKWork problem detail.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/internal/v3/api/web/cluster/instances/register": {
      "post": {
        "operationId": "cluster.instances.register",
        "summary": "Register a webserver process instance and its host machine",
        "description": "Bootstrap registration for the distributed Web Server cluster. The\nrequest must be authenticated with the shared cluster registration\ncredential; the response carries the instance's own heartbeat token\nand the initial peer directory. Idempotent per (machine code, PID):\nthe latest registration wins and receives a fresh token.",
        "tags": [
          "cluster"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "x-sdkwork-api-surface": "internal-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-internal-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "ingress-token",
        "x-sdkwork-route-auth": "ingress-token",
        "x-sdkwork-permission": "web.cluster.write",
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "x-sdkwork-owner": "sdkwork-webserver",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterRegistrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Instance registered (or re-registered) successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/ClusterRegistrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "SDKWork problem detail.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "SDKWork problem detail.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "SDKWork problem detail.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/internal/v3/api/web/cluster/instances/heartbeat": {
      "post": {
        "operationId": "cluster.instances.heartbeat",
        "summary": "Record one webserver instance heartbeat",
        "description": "Records instance liveness, health state, and resource metrics. The\nresponse refreshes the peer directory and delivers pending peer\nmailbox messages (at-most-once handoff).",
        "tags": [
          "cluster"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "x-sdkwork-api-surface": "internal-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-internal-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "ingress-token",
        "x-sdkwork-route-auth": "ingress-token",
        "x-sdkwork-permission": "web.cluster.write",
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "x-sdkwork-owner": "sdkwork-webserver",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterHeartbeatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Heartbeat accepted with the refreshed peer directory.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/ClusterHeartbeatResponse"
                }
              }
            }
          },
          "400": {
            "description": "SDKWork problem detail.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "SDKWork problem detail.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "SDKWork problem detail.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/internal/v3/api/web/cluster/peers": {
      "get": {
        "operationId": "cluster.peers.retrieve",
        "summary": "Retrieve the authenticated instance's cluster peer directory",
        "tags": [
          "cluster"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "x-sdkwork-api-surface": "internal-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-internal-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "ingress-token",
        "x-sdkwork-route-auth": "ingress-token",
        "x-sdkwork-permission": "web.cluster.read",
        "x-sdkwork-owner": "sdkwork-webserver",
        "responses": {
          "200": {
            "description": "Cluster peer directory returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/ClusterPeerDirectoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "SDKWork problem detail.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Rotatable application-ingress service or Web Node credential."
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        }
      },
      "NodeUuid": {
        "name": "nodeUuid",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 64,
          "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,63}$"
        }
      },
      "Environment": {
        "name": "environment",
        "in": "path",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/RuntimeEnvironment"
        }
      },
      "EnvironmentQuery": {
        "name": "environment",
        "in": "query",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/RuntimeEnvironment"
        }
      }
    },
    "responses": {
      "RuntimeAssignmentResponse": {
        "description": "Desired runtime assignment accepted idempotently.",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SdkWorkApiResponse"
                },
                {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "item"
                      ],
                      "properties": {
                        "item": {
                          "$ref": "#/components/schemas/RuntimeAssignment"
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "RuntimeAssignmentDeliveryResponse": {
        "description": "Current desired runtime assignment returned.",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SdkWorkApiResponse"
                },
                {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "item"
                      ],
                      "properties": {
                        "item": {
                          "$ref": "#/components/schemas/RuntimeAssignmentDelivery"
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "RuntimeObservationResponse": {
        "description": "Authenticated Web Node runtime observation resource.",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SdkWorkApiResponse"
                },
                {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "item"
                      ],
                      "properties": {
                        "item": {
                          "$ref": "#/components/schemas/RuntimeObservation"
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "Problem": {
        "description": "SDKWork problem detail.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetail"
            }
          }
        }
      },
      "ClusterRegistrationResponse": {
        "description": "Instance registered with its heartbeat token and peers.",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SdkWorkApiResponse"
                },
                {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "item"
                      ],
                      "properties": {
                        "item": {
                          "$ref": "#/components/schemas/ClusterRegistrationResponse"
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "ClusterHeartbeatResponse": {
        "description": "Heartbeat accepted with the refreshed peer directory.",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SdkWorkApiResponse"
                },
                {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "item"
                      ],
                      "properties": {
                        "item": {
                          "$ref": "#/components/schemas/ClusterHeartbeatResponse"
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "ClusterPeerDirectoryResponse": {
        "description": "Cluster peer directory returned.",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SdkWorkApiResponse"
                },
                {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "item"
                      ],
                      "properties": {
                        "item": {
                          "$ref": "#/components/schemas/ClusterPeerDirectoryResponse"
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "Int64String": {
        "type": "string",
        "format": "int64",
        "pattern": "^[0-9]+$",
        "x-sdkwork-int64-string": true
      },
      "ClusterRegistrationRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "host",
          "instance"
        ],
        "properties": {
          "clusterCode": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "description": "Target cluster code; omitted registers into the auto-provisioned default cluster."
          },
          "host": {
            "$ref": "#/components/schemas/ClusterHostDescriptor"
          },
          "instance": {
            "$ref": "#/components/schemas/ClusterInstanceDescriptor"
          }
        }
      },
      "ClusterHostDescriptor": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "hostname",
          "machineCode"
        ],
        "properties": {
          "hostname": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "machineCode": {
            "type": "string",
            "minLength": 8,
            "maxLength": 128,
            "description": "Stable hardware/machine fingerprint of the host."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "osName": {
            "type": "string",
            "maxLength": 100
          },
          "osVersion": {
            "type": "string",
            "maxLength": 100
          },
          "kernelVersion": {
            "type": "string",
            "maxLength": 100
          },
          "arch": {
            "type": "string",
            "maxLength": 32
          },
          "cpuModel": {
            "type": "string",
            "maxLength": 200
          },
          "cpuCores": {
            "type": "integer",
            "minimum": 0
          },
          "memoryTotalMb": {
            "$ref": "#/components/schemas/Int64String"
          },
          "remoteIp": {
            "type": "string",
            "maxLength": 64
          },
          "localIps": {
            "type": "array",
            "maxItems": 64,
            "items": {
              "type": "string",
              "maxLength": 64
            }
          },
          "macAddresses": {
            "type": "array",
            "maxItems": 64,
            "items": {
              "type": "string",
              "maxLength": 64
            }
          },
          "daemonVersion": {
            "type": "string",
            "maxLength": 64
          }
        }
      },
      "ClusterInstanceDescriptor": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "role",
          "environment",
          "processPid",
          "processStartedAt"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "role": {
            "type": "string",
            "enum": [
              "GATEWAY",
              "MANAGEMENT",
              "DATA_PLANE",
              "WORKER",
              "OTHER"
            ]
          },
          "environment": {
            "type": "string",
            "enum": [
              "development",
              "test",
              "staging",
              "production"
            ]
          },
          "processPid": {
            "type": "integer",
            "minimum": 1
          },
          "processStartedAt": {
            "type": "string",
            "format": "date-time"
          },
          "bindHost": {
            "type": "string",
            "maxLength": 64
          },
          "bindPort": {
            "type": "integer",
            "minimum": 0,
            "maximum": 65535
          },
          "publicEndpoint": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Advertised endpoint peers use to reach this instance."
          },
          "buildVersion": {
            "type": "string",
            "maxLength": 64
          }
        }
      },
      "ClusterRegistrationResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "cluster",
          "host",
          "instance",
          "instanceToken",
          "heartbeatIntervalSeconds",
          "offlineThresholdSeconds",
          "peers"
        ],
        "properties": {
          "cluster": {
            "$ref": "#/components/schemas/ClusterRef"
          },
          "host": {
            "$ref": "#/components/schemas/ClusterHostRef"
          },
          "instance": {
            "$ref": "#/components/schemas/ClusterInstanceRef"
          },
          "instanceToken": {
            "type": "string",
            "minLength": 1,
            "description": "Secret heartbeat token for this instance (winst_ prefix); store securely."
          },
          "heartbeatIntervalSeconds": {
            "type": "integer",
            "minimum": 5,
            "maximum": 600
          },
          "offlineThresholdSeconds": {
            "type": "integer",
            "minimum": 10,
            "maximum": 3600
          },
          "peers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClusterPeer"
            }
          }
        }
      },
      "ClusterRef": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "name",
          "code"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "ClusterHostRef": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "name",
          "hostname"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "hostname": {
            "type": "string"
          }
        }
      },
      "ClusterInstanceRef": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "name",
          "role"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "ClusterPeer": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "instanceId",
          "name",
          "role",
          "status",
          "hostName",
          "environment"
        ],
        "properties": {
          "instanceId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "minimum": 0,
            "maximum": 5
          },
          "hostName": {
            "type": "string"
          },
          "remoteIp": {
            "type": "string"
          },
          "publicEndpoint": {
            "type": "string"
          },
          "environment": {
            "type": "string"
          },
          "buildVersion": {
            "type": "string"
          },
          "lastHeartbeatAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ClusterHeartbeatRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "status",
          "healthState",
          "uptimeSeconds"
        ],
        "properties": {
          "status": {
            "type": "integer",
            "minimum": 0,
            "maximum": 5
          },
          "healthState": {
            "type": "string",
            "enum": [
              "HEALTHY",
              "DEGRADED",
              "UNHEALTHY",
              "UNKNOWN"
            ]
          },
          "uptimeSeconds": {
            "$ref": "#/components/schemas/Int64String"
          },
          "buildVersion": {
            "type": "string",
            "maxLength": 64
          },
          "metrics": {
            "type": "object",
            "description": "Resource metrics snapshot (CPU/memory/connections); bounded to 16 KiB."
          }
        }
      },
      "ClusterHeartbeatResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "instanceId",
          "status",
          "acknowledgedAt",
          "heartbeatIntervalSeconds",
          "offlineThresholdSeconds",
          "peers",
          "messages"
        ],
        "properties": {
          "instanceId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "integer"
          },
          "acknowledgedAt": {
            "type": "string",
            "format": "date-time"
          },
          "heartbeatIntervalSeconds": {
            "type": "integer",
            "minimum": 5,
            "maximum": 600
          },
          "offlineThresholdSeconds": {
            "type": "integer",
            "minimum": 10,
            "maximum": 3600
          },
          "peers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClusterPeer"
            }
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClusterPeerMessage"
            }
          }
        }
      },
      "ClusterPeerMessage": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "messageType",
          "payload",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "messageType": {
            "type": "string",
            "maxLength": 64
          },
          "fromInstanceId": {
            "type": "string",
            "format": "uuid"
          },
          "toInstanceId": {
            "type": "string",
            "format": "uuid"
          },
          "payload": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ClusterPeerDirectoryResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "instanceId",
          "peers"
        ],
        "properties": {
          "instanceId": {
            "type": "string",
            "format": "uuid"
          },
          "peers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClusterPeer"
            }
          }
        }
      },
      "PublishRuntimeAssignmentRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "runtimeSet"
        ],
        "properties": {
          "runtimeSet": {
            "$ref": "#/components/schemas/WebsiteRuntimeSetSnapshot"
          }
        }
      },
      "CreateRuntimeObservationRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "generation",
          "snapshotSha256",
          "state"
        ],
        "properties": {
          "generation": {
            "$ref": "#/components/schemas/GenerationString"
          },
          "snapshotSha256": {
            "$ref": "#/components/schemas/Sha256"
          },
          "state": {
            "$ref": "#/components/schemas/RuntimeObservationState"
          },
          "nodeVersion": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 64
          },
          "reasonCode": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[A-Z][A-Z0-9_]{0,63}$"
          },
          "detail": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 512
          }
        }
      },
      "RuntimeAssignment": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "assignmentUuid",
          "nodeUuid",
          "environment",
          "generation",
          "snapshotUuid",
          "snapshotSha256",
          "assignedAt"
        ],
        "properties": {
          "assignmentUuid": {
            "type": "string",
            "format": "uuid"
          },
          "nodeUuid": {
            "type": "string"
          },
          "environment": {
            "$ref": "#/components/schemas/RuntimeEnvironment"
          },
          "generation": {
            "$ref": "#/components/schemas/GenerationString"
          },
          "snapshotUuid": {
            "type": "string"
          },
          "snapshotSha256": {
            "$ref": "#/components/schemas/Sha256"
          },
          "assignedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RuntimeAssignmentDelivery": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "unchanged",
          "assignment"
        ],
        "properties": {
          "unchanged": {
            "type": "boolean"
          },
          "assignment": {
            "$ref": "#/components/schemas/RuntimeAssignment"
          },
          "latestObservationState": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/RuntimeObservationState"
              },
              {
                "type": "null"
              }
            ]
          },
          "runtimeSet": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/WebsiteRuntimeSetSnapshot"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "RuntimeObservation": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "observationUuid",
          "assignmentUuid",
          "tenantId",
          "nodeUuid",
          "environment",
          "generation",
          "snapshotUuid",
          "snapshotSha256",
          "state",
          "observedAt"
        ],
        "properties": {
          "observationUuid": {
            "type": "string",
            "format": "uuid"
          },
          "assignmentUuid": {
            "type": "string",
            "format": "uuid"
          },
          "tenantId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 19,
            "pattern": "^[1-9][0-9]{0,18}$"
          },
          "nodeUuid": {
            "type": "string"
          },
          "environment": {
            "$ref": "#/components/schemas/RuntimeEnvironment"
          },
          "generation": {
            "$ref": "#/components/schemas/GenerationString"
          },
          "snapshotUuid": {
            "type": "string"
          },
          "snapshotSha256": {
            "$ref": "#/components/schemas/Sha256"
          },
          "state": {
            "$ref": "#/components/schemas/RuntimeObservationState"
          },
          "nodeVersion": {
            "type": [
              "string",
              "null"
            ]
          },
          "reasonCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "detail": {
            "type": [
              "string",
              "null"
            ]
          },
          "observedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RuntimeEnvironment": {
        "type": "string",
        "enum": [
          "development",
          "test",
          "staging",
          "production"
        ]
      },
      "RuntimeObservationState": {
        "type": "string",
        "enum": [
          "RECEIVED",
          "VALIDATED",
          "STAGED",
          "ACTIVE",
          "REJECTED"
        ]
      },
      "GenerationString": {
        "type": "string",
        "pattern": "^[1-9][0-9]{0,15}$",
        "maxLength": 16
      },
      "Sha256": {
        "type": "string",
        "pattern": "^[a-f0-9]{64}$",
        "minLength": 64,
        "maxLength": 64
      },
      "WebsiteRuntimeSetSnapshot": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "$id": "https://sdkwork.com/schemas/web/sdkwork.website-runtime-set.snapshot.schema.json",
        "title": "SDKWork Website Runtime Set Snapshot",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schemaVersion",
          "kind",
          "snapshotUuid",
          "nodeUuid",
          "environment",
          "generation",
          "generatedAt",
          "compilerVersion",
          "snapshotSha256",
          "maximumSites",
          "descriptors"
        ],
        "properties": {
          "schemaVersion": {
            "const": "sdkwork.website-runtime-set.v1"
          },
          "kind": {
            "const": "sdkwork.website-runtime-set.snapshot"
          },
          "snapshotUuid": {
            "$ref": "#/components/schemas/WebsiteRuntimeSetSnapshot/$defs/opaqueId"
          },
          "nodeUuid": {
            "$ref": "#/components/schemas/WebsiteRuntimeSetSnapshot/$defs/opaqueId"
          },
          "environment": {
            "enum": [
              "development",
              "test",
              "staging",
              "production"
            ]
          },
          "generation": {
            "type": "integer",
            "minimum": 1,
            "maximum": 9007199254740991
          },
          "generatedAt": {
            "$ref": "#/components/schemas/WebsiteRuntimeSetSnapshot/$defs/timestamp"
          },
          "compilerVersion": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[^\\s\\u0000-\\u001f\\u007f]+$"
          },
          "snapshotSha256": {
            "$ref": "#/components/schemas/WebsiteRuntimeSetSnapshot/$defs/sha256"
          },
          "maximumSites": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10000
          },
          "descriptors": {
            "type": "array",
            "maxItems": 10000,
            "items": {
              "type": "object"
            }
          }
        },
        "$defs": {
          "opaqueId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_.:-]{0,127}$"
          },
          "sha256": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "maxLength": 64
          }
        }
      },
      "SdkWorkApiResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "code",
          "data",
          "traceId"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "const": 0
          },
          "data": {},
          "traceId": {
            "type": "string",
            "format": "uuid",
            "description": "Server-owned request correlation id."
          }
        }
      },
      "ProblemDetail": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "type",
          "title",
          "status",
          "code",
          "traceId"
        ],
        "properties": {
          "type": {
            "type": "string",
            "format": "uri-reference"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "code": {
            "type": "integer",
            "minimum": 1
          },
          "traceId": {
            "type": "string"
          }
        }
      }
    }
  }
}
