{
  "openapi": "3.1.2",
  "info": {
    "title": "SDKWork Webserver Backend API",
    "description": "SDKWork Web Server management and control-plane API.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.server.sdkwork.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3800",
      "description": "Local Development"
    }
  ],
  "security": [
    {
      "AuthToken": [],
      "AccessToken": []
    }
  ],
  "paths": {
    "/backend/v3/api/applications": {
      "get": {
        "operationId": "applications.list",
        "summary": "List managed applications",
        "x-sdkwork-pagination-mode": "offset",
        "tags": [
          "application"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.read",
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "name": "application_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "WEB",
                "API"
              ]
            }
          },
          {
            "name": "site_type",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 6
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 3
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Managed application list returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/ApplicationResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "post": {
        "operationId": "applications.create",
        "summary": "Create a managed application",
        "tags": [
          "application"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sdkwork-owner": "sdkwork-webserver",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Managed application created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/ApplicationResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/applications/{applicationId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ApplicationIdParam"
        }
      ],
      "get": {
        "operationId": "applications.retrieve",
        "summary": "Retrieve a managed application",
        "tags": [
          "application"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.read",
        "x-sdkwork-owner": "sdkwork-webserver",
        "responses": {
          "200": {
            "description": "Managed application returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/ApplicationResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "parameters": [],
        "x-sdkwork-route-auth": "dual-token"
      },
      "patch": {
        "operationId": "applications.update",
        "summary": "Update a managed application",
        "tags": [
          "application"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sdkwork-owner": "sdkwork-webserver",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Managed application updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/ApplicationResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "delete": {
        "operationId": "applications.delete",
        "summary": "Delete a managed application",
        "tags": [
          "application"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "x-sdkwork-owner": "sdkwork-webserver",
        "responses": {
          "204": {
            "description": "Managed application deleted successfully."
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/applications/{applicationId}/activate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ApplicationIdParam"
        }
      ],
      "post": {
        "operationId": "applications.activate",
        "summary": "Activate a managed application",
        "tags": [
          "application"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "x-sdkwork-owner": "sdkwork-webserver",
        "responses": {
          "200": {
            "description": "Managed application activated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/ApplicationResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/applications/{applicationId}/pause": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ApplicationIdParam"
        }
      ],
      "post": {
        "operationId": "applications.pause",
        "summary": "Pause a managed application",
        "tags": [
          "application"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "x-sdkwork-owner": "sdkwork-webserver",
        "responses": {
          "200": {
            "description": "Managed application paused successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/ApplicationResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/applications/{applicationId}/domains": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ApplicationIdParam"
        }
      ],
      "get": {
        "operationId": "applications.domains.list",
        "summary": "List application domains",
        "x-sdkwork-pagination-mode": "offset",
        "tags": [
          "applicationDomain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.read",
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Application domain list returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/ApplicationDomainResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "post": {
        "operationId": "applications.domains.create",
        "summary": "Bind a public domain to an application",
        "tags": [
          "applicationDomain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sdkwork-owner": "sdkwork-webserver",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplicationDomainRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application domain bound successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/ApplicationDomainResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/applications/{applicationId}/domains/{domainId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ApplicationIdParam"
        },
        {
          "$ref": "#/components/parameters/DomainIdParam"
        }
      ],
      "delete": {
        "operationId": "applications.domains.delete",
        "summary": "Unbind an application public domain",
        "tags": [
          "applicationDomain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "x-sdkwork-owner": "sdkwork-webserver",
        "responses": {
          "204": {
            "description": "Application domain unbound successfully."
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/applications/{applicationId}/domains/{domainId}/verify": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ApplicationIdParam"
        },
        {
          "$ref": "#/components/parameters/DomainIdParam"
        }
      ],
      "post": {
        "operationId": "applications.domains.verify",
        "summary": "Create or check an application-domain ownership challenge",
        "tags": [
          "applicationDomain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sdkwork-owner": "sdkwork-webserver",
        "responses": {
          "200": {
            "description": "Domain ownership challenge and latest external observation returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/DomainVerifyResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/applications/{applicationId}/domains/{domainId}/listener_certificate_bindings": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ApplicationIdParam"
        },
        {
          "$ref": "#/components/parameters/DomainIdParam"
        }
      ],
      "get": {
        "operationId": "applications.domains.listenerCertificateBindings.list",
        "summary": "List certificates active on an application domain listener",
        "description": "Returns an offset-paginated P1 list ordered by default status, priority, and stable binding id.",
        "x-sdkwork-pagination-mode": "offset",
        "tags": [
          "certificate"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.certificates.read",
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Listener certificate bindings returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/ListenerCertificateBindingResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "post": {
        "operationId": "applications.domains.listenerCertificateBindings.create",
        "summary": "Bind a certificate version to an application domain listener",
        "tags": [
          "certificate"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.certificates.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateListenerCertificateBindingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Certificate version bound to the listener successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/ListenerCertificateBindingResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/applications/{applicationId}/domains/{domainId}/listener_certificate_bindings/{bindingId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ApplicationIdParam"
        },
        {
          "$ref": "#/components/parameters/DomainIdParam"
        },
        {
          "$ref": "#/components/parameters/ListenerCertificateBindingIdParam"
        }
      ],
      "delete": {
        "operationId": "applications.domains.listenerCertificateBindings.delete",
        "summary": "Remove a certificate from an application domain listener",
        "tags": [
          "certificate"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.certificates.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "204": {
            "description": "Listener certificate binding removed successfully."
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/root_domains": {
      "get": {
        "operationId": "rootDomains.list",
        "summary": "List tenant root-domain Zones",
        "x-sdkwork-pagination-mode": "offset",
        "tags": [
          "domain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.read",
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 2
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 253
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant root-domain Zones returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/RootDomainResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "post": {
        "operationId": "rootDomains.create",
        "summary": "Define a tenant root-domain Zone",
        "tags": [
          "domain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRootDomainRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tenant root-domain Zone defined successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/RootDomainResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/root_domains/{rootDomainId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RootDomainIdParam"
        }
      ],
      "get": {
        "operationId": "rootDomains.retrieve",
        "summary": "Retrieve a tenant root-domain Zone",
        "tags": [
          "domain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.read",
        "x-sdkwork-owner": "sdkwork-webserver",
        "responses": {
          "200": {
            "description": "Tenant root-domain Zone returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/RootDomainResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "parameters": [],
        "x-sdkwork-route-auth": "dual-token"
      },
      "delete": {
        "operationId": "rootDomains.delete",
        "summary": "Delete an empty tenant root-domain Zone",
        "tags": [
          "domain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "204": {
            "description": "Tenant root-domain Zone deleted successfully."
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/root_domains/{rootDomainId}/subdomains": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RootDomainIdParam"
        }
      ],
      "get": {
        "operationId": "rootDomains.subdomains.list",
        "summary": "List publishable hostnames in a root-domain Zone",
        "x-sdkwork-pagination-mode": "offset",
        "tags": [
          "domain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.read",
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Root-domain hostnames returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/ApplicationDomainResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "post": {
        "operationId": "rootDomains.subdomains.create",
        "summary": "Add a publishable hostname to a root-domain Zone",
        "tags": [
          "domain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRootDomainHostnameRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Root-domain hostname added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/ApplicationDomainResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/domains": {
      "get": {
        "operationId": "domains.list",
        "summary": "List tenant custom domain assets",
        "x-sdkwork-pagination-mode": "offset",
        "tags": [
          "domain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.read",
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant custom domain assets returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/ApplicationDomainResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "post": {
        "operationId": "domains.create",
        "summary": "Register a tenant custom domain asset",
        "tags": [
          "domain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateManagedDomainRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tenant custom domain asset registered successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/ApplicationDomainResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/domains/{domainId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DomainIdParam"
        }
      ],
      "delete": {
        "operationId": "domains.delete",
        "summary": "Delete an unbound tenant custom domain asset",
        "tags": [
          "domain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "204": {
            "description": "Tenant custom domain asset deleted successfully."
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/domains/{domainId}/verify": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DomainIdParam"
        }
      ],
      "post": {
        "operationId": "domains.verify",
        "summary": "Create or check a tenant custom-domain ownership challenge",
        "tags": [
          "domain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain ownership challenge and latest external observation returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/DomainVerifyResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/domains/{domainId}/application_binding": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DomainIdParam"
        }
      ],
      "put": {
        "operationId": "domains.applicationBinding.update",
        "summary": "Bind a tenant custom domain to an application",
        "tags": [
          "domain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDomainApplicationBindingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tenant custom domain application binding updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/ApplicationDomainResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "delete": {
        "operationId": "domains.applicationBinding.delete",
        "summary": "Unbind a tenant custom domain from its application",
        "tags": [
          "domain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "204": {
            "description": "Tenant custom domain application binding deleted successfully."
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/applications/{applicationId}/source_versions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ApplicationIdParam"
        }
      ],
      "get": {
        "operationId": "applications.sourceVersions.list",
        "summary": "List immutable application source versions",
        "x-sdkwork-pagination-mode": "cursor",
        "tags": [
          "applicationSourceVersion"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.read",
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Application source versions returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/ApplicationSourceVersionResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "post": {
        "operationId": "applications.sourceVersions.create",
        "summary": "Register an immutable Drive-backed application source version",
        "tags": [
          "applicationSourceVersion"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplicationSourceVersionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application source version registered successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/ApplicationSourceVersionResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/applications/{applicationId}/source_versions/git_import": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ApplicationIdParam"
        }
      ],
      "post": {
        "operationId": "applications.sourceVersions.gitImport.create",
        "summary": "Import an immutable application source version from a public Git repository",
        "tags": [
          "applicationSourceVersion"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportApplicationGitSourceVersionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Git source version imported into Drive successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/ApplicationSourceVersionResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/applications/{applicationId}/source_versions/{sourceVersionId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ApplicationIdParam"
        },
        {
          "$ref": "#/components/parameters/SourceVersionIdParam"
        }
      ],
      "get": {
        "operationId": "applications.sourceVersions.retrieve",
        "summary": "Retrieve an application source version",
        "tags": [
          "applicationSourceVersion"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.read",
        "x-sdkwork-owner": "sdkwork-webserver",
        "responses": {
          "200": {
            "description": "Application source version returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/ApplicationSourceVersionResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "parameters": [],
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/applications/{applicationId}/deployments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ApplicationIdParam"
        }
      ],
      "get": {
        "operationId": "applications.deployments.list",
        "summary": "List application deployments",
        "tags": [
          "applicationDeployment"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.read",
        "x-sdkwork-owner": "sdkwork-webserver",
        "x-sdkwork-pagination-mode": "cursor",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 6
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application deployment list returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/ApplicationDeploymentResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "post": {
        "operationId": "applications.deployments.create",
        "summary": "Deploy an application",
        "tags": [
          "applicationDeployment"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "x-sdkwork-owner": "sdkwork-webserver",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplicationDeploymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application deployment created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/ApplicationDeploymentResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/applications/{applicationId}/deployments/{deploymentId}/rollback": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ApplicationIdParam"
        },
        {
          "$ref": "#/components/parameters/DeploymentIdParam"
        }
      ],
      "post": {
        "operationId": "applications.deployments.rollback",
        "summary": "Restore a managed application from an immutable successful version",
        "tags": [
          "applicationDeployment"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "x-sdkwork-owner": "sdkwork-webserver",
        "responses": {
          "200": {
            "description": "Application restore command created; deployment proceeds asynchronously.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/ApplicationDeploymentResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/certificates": {
      "get": {
        "operationId": "certificates.list",
        "summary": "List canonical certificates",
        "x-sdkwork-pagination-mode": "offset",
        "tags": [
          "certificate"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.certificates.read",
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "name": "domain_id",
            "in": "query",
            "required": false,
            "description": "Limit certificates to those whose SAN identifiers cover this domain.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Canonical certificate list returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/CertificateResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/certificates/issue": {
      "post": {
        "operationId": "certificates.issue",
        "summary": "Issue a canonical certificate",
        "tags": [
          "certificate"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.certificates.write",
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "x-sdkwork-owner": "sdkwork-webserver",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssueCertificateRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Certificate issuance was accepted for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SdkWorkAsyncData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/certificates/operations/{operationId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CertificateOperationIdParam"
        }
      ],
      "get": {
        "operationId": "certificates.operations.retrieve",
        "summary": "Retrieve a certificate operation",
        "tags": [
          "certificate"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.certificates.read",
        "x-sdkwork-owner": "sdkwork-webserver",
        "responses": {
          "200": {
            "description": "Certificate operation returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/CertificateOperationResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "parameters": [],
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/certificates/{certificateId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CertificateIdParam"
        }
      ],
      "put": {
        "operationId": "certificates.update",
        "summary": "Update certificate automatic renewal policy",
        "tags": [
          "certificate"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.certificates.write",
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sdkwork-owner": "sdkwork-webserver",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCertificateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Certificate automatic renewal policy updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/CertificateResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "delete": {
        "operationId": "certificates.delete",
        "summary": "Soft-delete a certificate and release its domain identifiers",
        "tags": [
          "certificate"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.certificates.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sdkwork-owner": "sdkwork-webserver",
        "responses": {
          "204": {
            "description": "Certificate deleted successfully."
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/certificates/{certificateId}/renew": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CertificateIdParam"
        }
      ],
      "post": {
        "operationId": "certificates.renew",
        "summary": "Renew a canonical certificate now",
        "tags": [
          "certificate"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.certificates.write",
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "x-sdkwork-owner": "sdkwork-webserver",
        "responses": {
          "202": {
            "description": "Certificate renewal was accepted for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SdkWorkAsyncData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/certificates/{certificateId}/revoke": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CertificateIdParam"
        }
      ],
      "post": {
        "operationId": "certificates.revoke",
        "summary": "Revoke a canonical certificate",
        "tags": [
          "certificate"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.certificates.write",
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "x-sdkwork-owner": "sdkwork-webserver",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeCertificateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Certificate revoked and listener bindings archived.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CertificateResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/certificate_distribution": {
      "get": {
        "operationId": "certificates.distribution.list",
        "summary": "List certificate manifest convergence by server",
        "x-sdkwork-pagination-mode": "offset",
        "tags": [
          "certificateDistribution"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.certificates.read",
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate manifest convergence list returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/CertificateDistributionResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/backend/v3/api/nginx/configs": {
      "get": {
        "operationId": "configs.list",
        "summary": "List Nginx configurations",
        "x-sdkwork-pagination-mode": "offset",
        "tags": [
          "nginx"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-api-authority": "sdkwork-webserver-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.nginx.write",
        "x-sdkwork-owner": "sdkwork-webserver",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "name": "site_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "config_type",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4
              ]
            }
          },
          {
[...]
